/* font style */
/* form label (이메일 / 비밀번호) */
form label {
  display: block;
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-xs);
}

/* form input 텍스트 */
.content input {
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  color: var(--secondary-color-gray700);
  /* 레이아웃 & 디자인 */
  width: 100%;
  height: 56px;
  padding: 0 20px;
  border-radius: 12px;
  background-color: var(--secondary-color-gray100);
}

/* visibility 버튼 아이콘 */
.visibility-btn img {
  width: 24px;
  height: 24px;
}

/* 제출 버튼 */
.btn-submit {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  width: 100%;
  height: 56px;
  border-radius: 40px;
  background-color: var(--secondary-color-gray400);
  color: #fff;
}

/* 간편 로그인 타이틀 */
.sns-login p {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--secondary-color-gray800);
}

/* SNS 아이콘 링크 */
.sns-login-link a img {
  width: 42px;
  height: 42px;
}

/* 회원가입 텍스트 */
.sign-up,
.login {
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  color: var(--secondary-color-gray700);
}
.sign-up a,
.login a {
  font-weight: var(--font-semibold);
  color: var(--primary-color-100);
  text-decoration: underline;
}

input:focus {
  outline-color: var(--primary-color-100);
}

.content {
  max-width: 400px;
  width: 100%;
  margin: 80px auto;
  padding: 0 16px;
  flex-direction: column;
  gap: 24px;
}

.logo {
  width: 198px;
}

form {
  width: 100%;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.password-input-box {
  position: relative;
}

#password {
  padding: 0 40px 0 20px;
}

.sns-login {
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #e6f2ff;
}

.sns-login-link {
  gap: 16px;
}

.visibility-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.visibility-btn-on {
  display: none;
}

@media (min-width: 768px) {
  .content {
    max-width: 640px;
    padding: 0;
  }

  form {
    gap: 24px;
  }

  .logo {
    width: 369px;
  }
}
