* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: "Pretendard Variable";
  font-size: var(--font-size-lg);
  color: var(--color-secondary-800);
  border: none;
  background-color: var(--color-secondary-100);
  padding: 16px 20px;
  border-radius: 12px;
  height: 56px;
}

input::placeholder {
  color: red;
  color: var(--color-secondary-400);
  font-size: var(--font-size-lg);
}

input:focus {
  outline: none;
}

button {
  border: none;
}
