@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import 'style.css';

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}


.signup-page {
  width: 640px;
  margin: 50px auto;
}

.signup-logo {
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  color: var(--color-gray900);
}

.signup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-lightblue);
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px;
  color: var(--color-gray900);
  font-weight: var(--font-weight-md);
  margin: 24px 0;
}

.signup-login {
  text-align: center;
}

.logo-img {
  display: flex;
  gap: 16px;
}

#username, 
#nickname, 
#password, 
#password-check {
  background-color: var(--color-gray100);
  border: none;
  width: 640px;
  border-radius: 12px;
  height: 56px;
  margin: 16px 0 24px;
  padding-left: 16px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-rg);
}

label {
  font-size: var(--spacing-sm);
  font-weight: var(--font-weight-bd);
}

#signup-form_btn {
  background-color: var(--color-blue);
  color: var(--color-gray100);
  border: none;
  border-radius: 40px;
  padding: 16px 124px 16px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bd);
}

.password-wrapper,
.password-check-wrapper {
  position: relative;
}

#show-eye,
#hide-eye,
#show-check-eye,
#hide-check-eye  {
  position: absolute;
  right: 20px;
  bottom: 35px;
}