@import "/css/reset.css";
@import "/css/variables.css";

@import "/css/components/home.css";
@import "/css/components/login.css";

/* media css */

@import "/css/media/home_media.css";
@import "/css/media/login_media.css";

html,
body {
  background-color: var(--background-color);
  color: var(--secondary-700);
}

.button {
  background-color: var(--primary-100);
  border: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
