header {
  padding: 9.5px 0;
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn {
  background-color: var(--color-primary-100);
  text-decoration: none;
  color: var(--color-secondary-100);
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.btn-small {
  border-radius: var(--border-radius-sm);
  min-width: 128px;
  height: 48px;
  font-size: var(--font-size-lg);
}

.btn-large {
  border-radius: var(--border-radius-lg);
  width: 240px;
  height: 48px;
  font-size: var(--font-size-2lg);
}

.header__content {
  padding: 0 24px;
  max-width: 1520px;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content__logo {
  width: 103px;
  vertical-align: middle;
}

.banner {
  background-color: var(--color-background-blue);
}

.banner__content {
  max-width: 1110px;
  padding-top: 48px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__content__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 132px;
  text-align: center;
  align-items: center;
}

.banner__content__text__title {
  font-size: var(--font-size-3xl);
  font-weight: 700;
  margin-bottom: 18px;
  color: var(--color-secondary-700);
}

.banner__content__img {
  max-width: 746px;
  width: 120%;
}

.feature {
  padding: 52px 16px 43px;
}

.feature__content {
  max-width: 988px;
  margin: 0 auto;
  border-radius: var(--border-radius-md);
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 40px;
}

.feature__content__img {
  width: 100%;
}

.feature__content__text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feature__content__text__point {
  font-size: var(--font-size-lg); /* 16px */
  font-weight: 700;
  color: var(--color-primary-100);
}

.feature__content__text__title {
  font-size: var(--font-size-2xl); /* 24px */
  font-weight: 700;
  color: var(--color-secondary-700);
  margin-top: 8px;
  margin-bottom: 16px;
}

.feature__content__text__title br {
  display: inline-block;
  content: " ";
}

.feature__content__text__subtitle {
  font-size: var(--font-size-2lg); /* 18px */
  font-weight: 500;
  color: var(--color-secondary-700);
}

.feature__content__reverse {
  flex-direction: column-reverse;
}

.search-text {
  text-align: right;
}

/* 하단 배너 */
.promotion__banner {
  background-color: var(--color-background-blue);
}

.promotion__banner__content {
  max-width: 1110px;
  padding-top: 121px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__banner__content__title {
  font-size: var(--font-size-3xl); /* 32px */
  font-weight: 700;
  color: var(--color-secondary-700);
  margin-bottom: 131px;
  text-align: center;
}

.promotion__banner__content__img {
  max-width: 746px;
  width: 100%;
}

/* 푸터 */
footer {
  background-color: #111827;
  padding: 32px 32px 30px 32px;
  height: 160px;
}

.footer__content {
  max-width: 311px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__content__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 60px;
  font-size: var(--font-size-lg);
}

.footer__content__copyright {
  color: #9ca3af;
}

.footer__content__link a {
  text-decoration: none;
  color: #e5e7eb;
}

.footer__content__link {
  display: flex;
  gap: 30px;
}

.footer__content__sns {
  display: flex;
  gap: 12px;
}

/* 회원가입 화면 */
.form__container.signup__form__container {
  min-height: 0;
  margin-top: 60px;
}

/* 로그인 화면, 회원가입 공통 */
.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 16px;
}

.form__container .signup__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.form__container__content a {
  display: block;
  text-align: center;
}

.form__container__logo {
  margin-bottom: 20px;
  max-width: 198px;
}

.form__container__label {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-2lg);
  font-weight: 700;
  color: var(--color-secondary-800);
  gap: 16px;
  margin-bottom: 24px;
}

.form__container__input {
  flex-grow: 1;
}

.form__container__input__wrap {
  position: relative;
  display: flex;
}

.form__container__input__wrap img {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.form__container button {
  margin-bottom: 24px;
  width: 100%;
}

.form__container__banner {
  background-color: var(--color-background-light-blue);
  border-radius: 8px;
  padding: 16px 23px;
  font-size: var(--font-size-2lg);
  font-weight: 500;
  color: var(--color-secondary-800);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.form__container__banner__icon {
  display: flex;
  gap: 16px;
}

.form__container__signup {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: var(--font-size-md);
  font-weight: 500;
  color: var(--color-secondary-800);
}

.form__container__signup a {
  color: var(--color-primary-100);
}

/* 태블릿 사이즈 이상에서 반응형 */
@media screen and (min-width: 768px) {
  .header__content__logo {
    width: 153px;
  }

  .btn-large {
    min-width: 357px;
    height: 56px;
    font-size: var(--font-size-xl);
  }

  .banner__content {
    padding-top: 84px;
  }

  .banner__content__text__title {
    font-size: var(--font-size-4xl);
    margin-bottom: 24px;
  }

  .banner__content__text {
    margin-bottom: 211px;
  }

  /* 첫번째 배너 br 태그 기능 없애기 */
  .banner__content br {
    display: inline-block;
    content: " ";
  }

  .feature {
    padding: 24px 24px 4px;
  }

  .feature__content {
    margin-bottom: 52px;
  }

  .feature__content__text__point {
    font-size: var(--font-size-2lg);
  }

  .feature__content__text__title {
    font-size: var(--font-size-3xl);
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .promotion__banner__content {
    padding-top: 217px;
  }

  .promotion__banner__content__title {
    font-size: var(--font-size-4xl);
  }

  .footer {
    padding: 32px 104px 104px 108px;
  }

  .footer__content {
    max-width: 536px;
  }

  .footer__content__menu {
    flex-direction: row;
  }
  /* 태블릿 회원가입,로그인 화면 반응형 CSS */
  .form__container__logo {
    max-width: 396px;
  }

  .form__container__content {
    max-width: 640px;
  }
}

/* PC 반응형 */
@media screen and (min-width: 1200px) {
  .banner__content {
    padding-top: 200px;
  }

  .banner__content__text {
    margin-bottom: 100px;
    align-items: start;
  }

  /* 첫번째 배너 br 태그 다시 추가 */
  .header__content__logo {
    width: 153px;
  }

  .banner__content br {
    display: block;
  }

  .header__content {
    padding: 0 200px;
  }

  .feature {
    padding: 138px 0px 0px 0px;
  }

  .feature__content {
    flex-direction: row;
    background-color: #fcfcfc;
    align-items: center;
    margin: 0 auto 276px auto;
    gap: 64px;
  }

  .feature__content__text__title br {
    display: block;
  }

  .feature__content__text__title {
    margin-top: 12px;
    font-size: var(--font-size-4xl);
  }

  .feature__content__text__subtitle {
    font-size: var(--font-size-2xl);
  }

  .feature__content__img {
    max-width: 579px;
  }

  .banner__content {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }

  .banner__content__text {
    text-align: left;
  }

  .promotion__banner__content {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding-top: 143px;
  }

  .promotion__banner__content__title {
    margin-bottom: 172.5px;
    text-align: left;
  }

  .footer__content {
    max-width: 1120px;
  }

  .footer__content__menu {
    gap: 366.5px;
  }

  /* PC 회원가입,로그인 화면 반응형 CSS */
  .form__container {
    padding: 0;
  }

  .form__container__content {
    max-width: 640px;
  }
}
