@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0 auto;
  margin-top: 70px;
}

* {
  box-sizing: border-box;
}

:root {
  --color-blue: #3692FF;
  --color-gray900: #1f2937;
  --color-gray700: #374151;
  --color-gray600: #4b5563;
  --color-gray500: #6b7280;
  --color-gray400: #9CA3AF;
  --color-gray200: #E5E7EB;
  --color-gray100: #f3f4f6;
  --color-gray50: #f9fafb;
  --color-white: #FFFFFF;
  --color-background-dark: #111827;
  --color-background-banner: #CFE5FF;
  --color-lightblue: #e6f2ff;
  
  --font-family-base: 'Pretendard-Regular', sans-serif;
  --font-family-heading: 'Noto Sans KR', sans-serif;

  --font-size-xs: 16px;
  --font-size-sm: 18px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 40px;

  --font-weight-rg: 400;
  --font-weight-md: 500;
  --font-weight-bd: 600;

  --container-width: 1120px;
  --header-height: 70px;
  --footer-height: 160px;
  
  --spacing-xs: 12px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 60px;
  --spacing-xl: 138px;
}

 h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bd);
  line-height: 140%;
  letter-spacing: 2%;
  color: var(--color-gray700);
}

p {
  font-size: 24px;
  line-height: var( --spacing-md);  
  margin-top: var(--spacing-sm);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  padding: 9.5px 200px;       
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.login {
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-blue);
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-size-xs);
  line-height: 26px;
  font-weight: var(--font-weight-md);
  color: var( --color-white);
}

.banner-container {
  background-color: var( --color-background-banner);
  width: 100%;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 100px;
}

.banner-image > img {
  max-width:100%; 
}

.banner-text {
  display: flex;
  flex-direction: column;
  margin: 100px 5px;
  align-items: flex-start;
  justify-content: center;  
}

.banner-btn {
  text-align: center;
  text-decoration: none;
  background-color: var(--color-blue);
  border-radius: 40px;
  padding: 12px 124px;
  margin-top: var(--spacing-md);
  font-weight: var(--font-weight-md);
  line-height: 32px;
  font-size: 20px;
  color: #F9FAFB;
  cursor: pointer;
}

section > img {
  max-width:100%; 
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
  padding: 138px 0;
  border-radius: 12px;
  max-width: 1200px;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 40px;
}

.description > h2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bd);
  margin-bottom: var(--spacing-sm);
  color:var(  --color-blue);
}

.section.search .description {
  text-align: right;
  align-items: flex-end;
}

.footer-banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: var( --color-background-banner);
  padding-top: 100px;
}

.footer-banner > img {
  max-width:100%; 
}

.footer-text {
  margin: 100px 50px;
}

.footer-info {
  background-color: var(--color-background-dark);
  height: var(--footer-height);
}

.info-container {
  display: flex;
  justify-content: space-around;
  place-items: center;
  color:var(--color-gray400);
  padding: 32px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}

.privacy,
.faq {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-gray200);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}