* {
  box-sizing: border-box;
}

:root {
  --color-gray900: #111827;
  --color-gray800: #1f2937;
  --color-gray700: #374151;
  --color-gray600: #4b5563;
  --color-gray500: #6b7280;
  --color-gray400: #9ca3af;
  --color-gray200: #e5e7eb;
  --color-gray100: #f3f4f6;
  --color-gray50: #f9fafb;
  --color-blue: #3692ff;
}

.button {
  background-color: var(--color-blue);
  padding: 16px 124px;
  border-radius: 9999px;
  color: var(--color-gray50);
  text-decoration: none;
  font-size: 16px;
  border: none;
}

.button:hover {
  background-color: #1251aa
}

a {
  cursor: pointer;
}
