.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  z-index: 1;
}

.nav-inner {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-container {
  padding: 138px 0;
  display: grid;
  grid-template-areas: 
    "hotItem"
    "search"
    "register";
  gap: 276px;
  width: 100%;
}

.imageSet {
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: block; 
}

.login {
  padding: 12px 41px;
  border-radius: 8px;
  color: #f3f4f6;
  margin: 0;
}

.title-helper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  /* max-width: 1110px; */
}

.title {
  padding: 200px 0 0;
  background-color: #cfe5ff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-p {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom:100px;
}

.subtitle {
  font-size: clamp(32px, 4vw, 40px);
  font-weight: 700;
  margin-bottom: 40px;
}

section {
  margin: 0 auto;
}

.badge {
  font-size: clamp(16px, 4vw, 18px);
  font-weight: 700;
  color: #3692ff;
  line-height: 26px;
  width: 100%;
}

.section-content {
  padding-right: 24px;
}

.section-title {
  white-space: normal;
  word-break: keep-all;
  font-size: clamp(24px, 4vw, 40px);
  font-weight: 700;
  line-height: 140%;
}

.section-subtitle {
  font-size: clamp(16px, 4vw, 24px);
  font-weight: 500;
  line-height: 32px;
}

.hotItem {
  grid-area: hotItem;
}

.register {
  grid-area: register;
}

.main-content {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  gap: 64px;
  background-color: #fcfcfc;
  max-width: 1110px;
}

.reverse {
  flex-direction: row-reverse;
}

.search {
  grid-area: search;
}

.search
.section-content {
  text-align: right;
}

.bottom {
  background-color: #fcfcfc;
  padding-top: 138px;
}

.bottom
.subtitle {
  margin-bottom: 160px;
}

footer {
  background-color: var(--color-gray900);
  height: 160px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1110px;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: var(--color-gray200);
}

footer a {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  body {
    background-color: #fcfcfc;
  }

  .nav-inner {
    padding: 0 24px;
  }

  .title-helper {
    flex-direction: column;
    align-items: center;
  }
  
  .title-p {
    text-align: center;
  }

  .main-container {
    gap: 52px;
  }

  .main-content {
    flex-direction: column;
    align-items: normal;
    width: 100%;
    padding: 24px;
  }

  .footer-name {
    color: var(--color-gray200);
  }
}

@media (max-width: 767px) {
  .nav-inner {
    padding: 0 16px;
  }
  
  .footer {
    padding: 40 16px
  }

  .footer-name {
    order: 3;
    width: 100%;
    text-align: left;
    margin-top: 60px;
  }
}