* {
  box-sizing: border-box;
  font-family: "Pretendard Variable", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  color: #1f2937;
}

.login-container {
  max-width: 640px;
  margin: 80px auto;
  padding: 40px 30px;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo img {
  height: 104px;
  object-fit: contain;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 700;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  background: #f3f4f6;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: none;
  background: #f3f4f6;
  border-radius: 8px;
  font-size: 15px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  height: 56px;
  background-color: #3692ff;
  color: #f3f4f6;
  padding: 12px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #02499f;
}

.divider-box {
  background-color: #e6f2ff;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
  margin-top: 24px;
  border-radius: 8px;
}

.divider {
  font-size: 16px;
  font-weight: 500;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-login img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.social-login a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

.signup-link {
  margin-top: 24px;
  font-weight: 600;
  font-size: 14px;
  color: #666;
  font-weight: 500;
}

.signup-link a {
  color: #3b82f6;
  margin-left: 4px;
}
