* {
    box-sizing: border-box;
}

body {
    /* display: flex; */
    /* justify-content: center; */
}

@media (min-width: 1920px) {
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: auto;
    }
    .describe_home_top_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70%;
        top: 200px;
        left: 405px;
        gap: 7px;
        margin-top: 180px;
        background-color: #CFE5FF;
    }
    
}
@media (max-width: 1920px) {
    .navigationBar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position:fixed;  /*미션2 추가 사항 */
        width: 100%;
        z-index: 2;
        background-color: #FFFFFF;
        top: 0;
        left: 0;
        padding: 0 clamp(1rem, 20vw, 3rem);
    }
}

.home_top {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #CFE5FF;
}


.describe_home_top_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    top: 200px;
    left: 405px;
    gap: 7px;
    margin-top: 180px;
    background-color: #CFE5FF;
}

.describe_home_top {
    width: 295px;
    height: 112px;
    font-family: Pretendard;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #374151;
}

.items_button {
    width: 80%;
}


.image_home_top {
    width: 55%;
}

.features_container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0;
    background-color: white;
    align-items: center;
  }

.features  {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    background-color: #FCFCFC;
}

.article {
    max-width: 600px;
    margin-right: 8px;
}

.article_label {
    color: #0095f6;
    font-weight: bold;
    margin-bottom: 8px;
}

.article h1 {
    font-size: 24px;
    margin: 0 0 10px;
    font-weight: bold;
}

.features img {
    width: 55%;
}


.bottom_features_container {
    background-color: #d5ebff;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .bottom_features {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    gap: 60px;
  }

  .bottom_features h2 {
    font-size: 28px;
    color: #222;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
  }

  .bottom_features img {
    width: 55%;
  }


footer {
    width: 100%;
    top: 3448px;
    padding-top: 3%;
    padding-right: 20%;
    padding-bottom: 8%;
    padding-left: 20%;
    gap: 10px;
    background: #111827;   
}

.footer_display {
    display: flex;
    justify-content: space-between;
}

.footer_describe1 {
    
    font-family: Pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #9CA3AF;
}

.footer_describe2 {
    display: flex;
    justify-content: space-between;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #E5E7EB;
    text-decoration: none;
    gap: 30px;
}

.social_icons {
    width: 116px;
    height: 20px;
}

/* 로그인, 회원가입 부분 스타일 시작 */
.login_logo  {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 10px;
}

.signup_logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.login_signup_container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-family: sans-serif;
  }
  
label {
    display: block;
    margin: 16px 0 6px;
    font-weight: bold;
  }
  
input[type = "email"],
input[type = "password"],
input[type = "text"] {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #f5f6f8;
    border-radius: 6px;
}

.password_box {
    position: relative;
    width: 100%;
    background-color: #f5f6f8;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.eye_icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.login_signup_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px;
    background-color: #3692ff;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bold;
}

.easy_login_container {    
    background-color: #E6F2FF;
    padding: 16px 23px 16px 23px;
    border-radius: 8px;
    gap: 10px;
    
}

.easy_login_form {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.easy_login_link_icon {
    box-sizing: border-box;
    text-decoration: none;
}

.direction_text_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    font-size: 13px;
    font-weight: bold;
}
/* 로그인, 회원가입 부분 스타일 끝 */