.btn {
  background-color: var(--color-primary-100);
  text-decoration: none;
  color: var(--color-secondary-100);
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  gap: 8px;
}

.btn-register {
  border-radius: var(--border-radius-sm);
  height: 42px;
  font-size: var(--font-size-xs);
  padding: 8px 23px;
}

.btn-return {
  border-radius: var(--border-radius-xl);
  height: 48px;
  font-size: var(--font-size-sm);
  padding: 11px 40px;
}

.btn-small {
  border-radius: var(--border-radius-sm);
  min-width: 128px;
  height: 48px;
  font-size: var(--font-size-xs);
}

.btn-large {
  border-radius: var(--border-radius-xl);
  width: 240px;
  height: 48px;
  font-size: var(--font-size-sm);
}

.btn a {
  text-decoration: none;
  color: var(--color-secondary-100);
}

.btn:disabled {
  background-color: var(--color-secondary-400);
}
