.add__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 282px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  background-color: var(--color-secondary-100);
}

.add__card__text {
  color: var(--color-secondary-400);
}
