header {
  padding: 15px 0;
  background-color: var(--color-background-white);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.header__content {
  padding: 0 16px;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (min-width: 744px) {
  .header__content {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header__content {
    padding: 0 200px;
  }
}

.header__content__logo {
  width: 103px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .header__content__logo {
    width: 153px;
  }
}

.header__content__navigation__group {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 744px) {
  .header__content__navigation__group {
    gap: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .header__content__navigation__group {
    gap: 47px;
  }
}

.header__content__navigation__group ul {
  display: flex;
  gap: 8px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  color: var(--color-secondary-600);
  align-items: center;
}

@media screen and (min-width: 744px) {
  .header__content__navigation__group ul {
    gap: 30px;
    font-size: var(--font-size-sm);
  }
}

.header__content__link--active {
  color: var(--color-primary-100);
}

.header__content__user {
  display: flex;
  align-items: center;
}

.header__content__user__icon {
  width: 40px;
  vertical-align: middle;
}
