:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray300: #e5e7eb;
  --gray200: #f3f4f6;
  --gray100: #f9fafb;

  --primary-color: #3692ff;
}

body {
  font-family: "Pretendard-Regular", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
