.wrap {
  max-width: var(--container-width);
  min-width: var(--content-width);
  margin: 0 auto;
}

.wide {
  width: 100%;
}

header .wrap {
  padding: 8px 200px;
}

.banner {
  display: flex;
  height: 540px;
}

.banner .wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner .banner-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

main .wrap {
  padding: 0 52px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.feature-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 160px;
}

footer .wrap {
  display: flex;
  justify-content: space-between;
  padding: 28px 52px;
}

/** header **/

header {
  background-color: var(--color-white);
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 8px 1px #808080;
}

header .img-lg {
  width: 156px;
  height: 52px;
}

header .btn-link-login {
  width: 128px;
  height: 48px;
  display: inline-block;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-gray100);
  background-color: var(--color-pri100);
  text-align: center;
  text-decoration: none;
}

/** banner **/

.banner {
  background-color: var(--color-pri50);
}

.main-banner {
  background-image: url("../img/Img_home_top.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.sub-banner {
  background-image: url("../img/Img_home_bottom.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
}

.banner-description {
  gap: var(--spacing-xxl);
}

.banner-description h1 {
  font-size: 40px;
  font-weight: 700;
}

.btn-link-trades {
  display: inline-block;
  width: 360px;
  height: 56px;
  line-height: 28px;
  padding: 12px;
  border-radius: 40px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: var(--color-gray50);
  background-color: var(--color-pri100);
  text-decoration: none;
  text-align: center;
}

/** features **/

.feature-card {
  margin: 140px 0;
}

.feature-description {
  height: 440px;
  padding: 52px;
  background-color: var(--color-gray30);
  gap: var(--spacing-xs);
}

.feature-card:nth-child(2n) {
  text-align: right;
}

.feature-description .feature-title {
  font-size: 16;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-pri100);
}

.feature-description .feature-main-description {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.feature-description .feature-sub-description {
  margin-top: 12px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

/** footer **/

footer {
  background-color: var(--color-pri500);
}

footer p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-gray400);
}

footer .privacy-links {
  gap: var(--spacing-xl);
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

footer .privacy-links > a {
  height: 32px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-gray200);
  text-decoration: none;
}

.sns-links {
  list-style-type: none;
  gap: var(--spacing-xs);
}

/** pseudo-class **/

.btn-link-login:hover,
.btn-link-trades:hover {
  background-color: var(--color-pri200);
}

.btn-link-login:active,
.btn-link-trades:active {
  background-color: var(--color-pri300);
}

/** media: tablet **/

@media (max-width: 1199px) {
  /** layout **/
  .wrap {
    min-width: initial;
  }

  header .wrap {
    padding: 8px 24px;
  }

  main .wrap {
    padding: 0 24px;
  }

  .banner {
    flex-direction: column;
  }

  .main-banner {
    height: 60vh;
  }

  .sub-banner {
    height: 75vh;
  }

  .main-banner .wrap {
    margin-top: 84px;
    justify-content: center;
  }

  .sub-banner .wrap {
    margin-top: 200px;
  }

  .feature-card .wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .feature-card .feature-description {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
  }

  footer .wrap {
    padding: 32px 104px;
  }

  /** banner **/

  .banner .banner-description {
    max-width: initial;
    text-align: center;
    align-items: center;
  }

  .main-banner,
  .sub-banner {
    background-position: bottom;
  }

  /** features **/

  .features .feature-card {
    width: 100%;
    margin: 0;
    padding: 24px 0;
  }

  .feature-description {
    padding: 24px 0;
    background-color: var(--color-white);
  }

  .feature-img,
  .feature-description {
    width: 100%;
  }

  .feature-description .feature-sub-description {
    width: 50%;
  }

  .feature-description .feature-title {
    font-size: 18px;
    line-height: 26px;
  }

  .feature-description .feature-main-description {
    font-size: 32px;
    line-height: 42px;
  }

  .feature-description .feature-sub-description {
    font-size: 18px;
    line-height: 26px;
  }

  /** pseudo class **/

  .feature-card:nth-child(2n) .wrap {
    flex-direction: column-reverse;
  }

  .feature-card:nth-child(2n) .feature-description {
    align-items: flex-end;
  }
}

/** media: mobile **/

@media (max-width: 767px) {
  /** layout **/

  header .wrap {
    padding: 8px 16px;
  }

  main .wrap {
    padding: 0 16px;
  }

  .main-banner,
  .sub-banner {
    height: 40vh;
  }

  .main-banner .wrap {
    margin-top: 48px;
  }

  .sub-banner .wrap {
    margin-top: 120px;
  }

  /** header **/
  header .img-lg {
    width: auto;
    height: auto;
  }

  /** banner **/

  .main-banner {
    background-size: clamp(500px, 100vw, 80%);
  }

  .sub-banner {
    background-size: clamp(400px, 100vw, 60%);
  }

  .main-banner .wrap {
    width: 80%;
  }

  .banner-description h1 {
    font-size: 32px;
    line-height: 140%;
  }

  .btn-link-trades {
    width: 240px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  /** features **/

  .features .feature-card {
    padding: 20px 0;
  }

  .features .feature-card:first-child {
    margin-top: 32px;
  }

  .features .feature-card:last-child {
    margin-bottom: 32px;
  }

  .feature-description .feature-sub-description {
    width: 70%;
  }

  .feature-description .feature-title {
    font-size: 16px;
    line-height: 26px;
  }

  .feature-description .feature-main-description {
    font-size: 24px;
    line-height: 32px;
  }

  .feature-description .feature-sub-description {
    font-size: 16px;
    line-height: 26px;
  }

  footer .wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px;
  }

  footer ul {
    flex-basis: 50%;
    order: 0;
  }

  footer p {
    order: 1;
    margin-top: 20px;
  }

  footer .privacy-links {
    justify-content: start;
    align-items: start;
  }

  footer .sns-links {
    justify-content: end;
    align-items: start;
  }
}
