.wrap {
  flex-direction: column;
  margin-top: 60px;
  gap: var(--spacing-lg);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  position: relative;
}

.sign-up-form input,
.sign-up-form .sign-up-btn {
  width: 640px;
  height: 56px;
}

.sign-up-form label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-gray800);
}

.sign-up-form input {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-gray800);
  background-color: var(--color-gray100);
  padding-left: 24px;
  border: 0;
  outline: 0;
  border-radius: 12px;
}

.sign-up-form span {
  position: relative;
  margin-top: -8px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-error);
}

.sign-up-form .incorrect-input {
  border: 1px solid var(--color-error);
}

.sign-up-form .correct-input {
  border: 1px solid var(--color-pri100);
}

.sign-up-form .toggle-visibility,
.sign-up-form .toggle-repeat-visibility {
  position: absolute;
  right: 20px;
  top: 56px;
  width: 24px;
  height: 24px;
}

.sign-up-form .sign-up-btn {
  width: 100%;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: var(--color-gray100);
  background-color: var(--color-pri100);
}

.oauth {
  width: 640px;
  height: 74px;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--color-pri30);
}

.oauth p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--color-gray800);
}

.oauth-img {
  gap: var(--spacing-sm);
}

.login-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-gray800);
}

.login-link {
  color: var(--color-pri100);
  text-decoration: underline;
}

.sign-up-form .sign-up-btn:hover {
  background-color: var(--color-pri200);
}

.sign-up-form .sign-up-btn:active {
  background-color: var(--color-pri300);
}

.sign-up-form .sign-up-btn:disabled {
  background-color: var(--color-gray400);
  color: var(--color-white);
  cursor: default;
}

.input-box input::placeholder {
  color: #9ca3af;
  font-weight: 400;
}

@media (max-width: 767px) {
  main .wrap {
    width: 100%;
    padding: 0 16px;
  }

  .logo {
    text-align: center;
  }

  .logo > img {
    width: 75%;
    height: auto;
  }

  .sign-up-form {
    max-width: 400px;
    width: 100%;
  }

  .sign-up-form input {
    max-width: 400px;
    width: 100%;
  }

  .oauth {
    max-width: 400px;
    width: 100%;
  }
}
