@import url(./reset.css);
@import url(./auth.css);
:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --main-color: #3692ff;
  --main_background-color: #cfe5ff;
  --banner-background-color: #fcfcfc;
  --banner-section-background-color: #fcfcfc;
  --title-color: #374151;

  /*반응형*/
  --text-align: center;
  --basic-font: 16px;
  --border-radius: 7.02px;
  --flex-direction: column;
  --flex-align-items: center;
  --reverse-direction: column;

  --header-padding: 3px 16px;

  --title-width: 240px;
  --title-font: 32px;
  --title-padding-bottom: 18px;

  --kv-title-margin: 0 auto;

  --kv-info-flex-justify-content: space-between;
  --kv-info-padding-top: 48px;
  --kv-info-padding-bottom: 132px;
  --kv-inner-btn-width: 240px;
  --kv-inner-btn-height: 48px;
  --kv-inner-btn-font-size: 18px;

  --banner-margin-bottom: 0;
  --banner-inner-padding: 52px 16px 83px;
  --banner-card-margin: 40px auto 0;
  --banner-card-gap: 24px;
  --banner-inner-title: 24px;
  --banner-desc-font-size: 16px;
  --banner-card-info-width: 100%;

  --bottom-banner-padding: 121px 0 131px;
  --bottom-banner-font-size: 32px;

  --footer-padding: 32px;
  --footer-columns: 1fr 1fr 1fr;
  --footer-rows: 1fr 1fr;
  --footer-copyright-column: span 2;
  --footer-copyright-row: 2;
  --footer-support-content-column: span 1;
  --footer-support-content-text-align: left;
  --footer-faq-column: 2;
  --footer-faq-text-align: center;
  --footer-faq-padding-left: 0;
  --footer-icons-column: 3;
  --footer-icons-row: 1;

  /*로그인&회원가입*/
  --auth-container-width: 100%;
  --auth-container-padding: 80px 16px 0;
  --auth-container-max-width: 400px;
  --auth-container-title: 198px;
  --auth-container-form-wrap: 31px;
  --auth-container--sign-up: 24px 16px 180px;
}
body {
  font-family: "Pretendard", sans-serif;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 100%;
  background: var(--banner-background-color);
}
.title {
  color: var(--title-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  min-width: 300px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  padding: var(--header-padding);
  transition: 0.3s;
}

.nav .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 8px;
}
.nav .login-btn a {
  display: block;
  text-align: center;
  width: 128px;
  height: 48px;
  line-height: 48px;
}

.kv-section {
  background-color: var(--main_background-color);
  position: relative;
}
.kv-section .kv-inner {
  display: flex;
  justify-content: center;
  flex-direction: var(--flex-direction);
  align-items: var(--flex-align-items);
}
.kv-section .kv-info {
  position: relative;
  text-align: var(--text-align);
  padding-top: var(--kv-info-padding-top);
  padding-bottom: var(--kv-info-padding-bottom);
}
.kv-section .key-visual {
  object-fit: cover;
  width: 100%;
  min-width: 373px;
  height: 100%;
}
.kv-section .kv-inner .title {
  font-weight: bold;
  font-size: var(--title-font);
  line-height: 1.4;
  padding-bottom: var(--title-padding-bottom);
  width: var(--title-width);
  margin: var(--kv-title-margin);
}
.kv-section .kv-inner .btn {
  width: var(--kv-inner-btn-width);
  text-align: var(--text-align);
  height: var(--kv-inner-btn-height);
  background-color: var(--main-color);
  border-radius: 50px;
}
.kv-section .kv-inner .btn a {
  font-size: var(--kv-inner-btn-font-size);
  color: #fff;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.banner-section {
  background-color: #fff;
  margin-bottom: var(--banner-margin-bottom);
}
.banner-section .banner-inner {
  display: flex;
  flex-direction: column;
  padding: var(--banner-inner-padding);
  background-color: var(--banner-section-background-color);
}
.banner-section .card {
  margin: var(--banner-card-margin);
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: var(--banner-card-gap);
  flex-direction: var(--flex-direction);
  justify-content: left;
  background-color: var(--banner-background-color);
  border-radius: 12px;
}
.banner-section .card .img-wrap {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.banner-section .card.hot-item {
  margin-top: 0;
}
.banner-section .card.sell-item {
  margin-bottom: 0;
}
.banner-section .card .badge {
  color: var(--main-color);
  font-weight: bold;
  font-size: var(--basic-font);
}
.banner-section .card .title {
  font-size: var(--banner-inner-title);
  font-weight: bold;
  padding: 24px 0;
}
.banner-section .card .desc {
  line-height: 1.4;
  font-size: var(--banner-desc-font-size);
}
.banner-section .card.search-item {
  flex-direction: var(--reverse-direction);
  justify-content: right;
}
.banner-section .card .card-info {
  width: var(--banner-card-info-width);
}
.banner-section .card.search-item .card-info {
  text-align: right;
}

.pandaMarketBannerSection {
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: var(--kv-info-flex-justify-content);
  position: relative;
  align-items: var(--flex-align-items);
  background-color: var(--main_background-color);
}

.pandaMarketBannerSection .title {
  font-weight: bold;
  text-align: var(--text-align);
  padding: var(--bottom-banner-padding);
  font-size: var(--bottom-banner-font-size);
}

.footer {
  background-color: var(--gray900);
  color: #fff;
  padding: var(--footer-padding);
}

.footer .footer_inner {
  display: grid;
  grid-template-columns: var(--footer-columns);
  grid-template-rows: var(--footer-rows);
  text-align: center;
  gap: 60px 0;
}
.footer .footer_inner .footer-item.copyright {
  grid-column: var(--footer-copyright-column);
  grid-row: var(--footer-copyright-row);
  text-align: left;
}
.footer .footer_inner .footer-item.support-content {
  text-align: var(--footer-support-content-text-align);
  grid-column: var(--footer-support-content-column);
  grid-row: 1;
}
.footer .footer_inner .footer-item.faq-wrap {
  grid-column: var(--footer-faq-column);
  grid-row: 1;
  text-align: var(--footer-faq-text-align);
  padding-left: var(--footer-faq-padding-left);
}
.footer .footer_inner .footer-item.icons-wrap {
  grid-column: var(--footer-icons-column);
  grid-row: var(--footer-icons-row);
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.footer .footer_inner .footer-item .icon a {
  width: 20px;
  display: block;
  height: 20px;
}

/* 모바일 (기본 스타일) */

/* 태블릿 이상 */
@media (min-width: 768px) {
  :root {
    --border-radius: 14.2px;
    --basic-font: 18px;

    --header-padding: 10px 24px;

    --title-width: 100%;
    --title-font: 40px;
    --title-padding-bottom: 24px;

    --kv-info-padding-top: 84px;
    --kv-info-padding-bottom: 224px;
    --kv-inner-btn-width: 357px;
    --kv-inner-btn-height: 56px;
    --kv-inner-btn-font-size: 20px;

    --banner-inner-padding: 24px 24px 56px;
    --banner-card-margin: 52px auto 0;
    --banner-inner-title: 32px;
    --banner-desc-font-size: 18px;

    --bottom-banner-padding: 201px 0 217px;
    --bottom-banner-font-size: 40px;

    --footer-padding: 32px 104px 108px;
    --footer-columns: 1fr 1fr 1fr 1fr;
    --footer-rows: unset;
    --footer-copyright-column: unset;
    --footer-copyright-row: 1;
    --footer-support-content-column: 2;
    --footer-support-content-text-align: right;
    --footer-faq-column: 3;
    --footer-faq-text-align: left;
    --footer-faq-padding-left: 40px;
    --footer-icons-column: 4;

    /*로그인&회원가입*/
    --auth-container-width: 640px;
    --auth-container-padding: 100px 0;
    --auth-container-max-width: unset;
    --auth-container-title: 396px;
    --auth-container-form-wrap: 40px;
    --auth-container--sign-up: 48px 16px 243px;
  }
}

/* 데스크탑 이상 */
@media (min-width: 1200px) {
  :root {
    --text-align: left;
    --border-radius: 12px;
    --basic-font: 18px;
    --flex-direction: row;
    --flex-align-items: flex-end;
    --reverse-direction: row-reverse;

    --header-padding: 9.5px 200px;

    --title-width: 333px;
    --title-font: 40px;
    --title-padding-bottom: 24px;

    --kv-info-flex-justify-content: center;
    --kv-info-padding-top: 240px;
    --kv-info-padding-bottom: 100px;
    --kv-inner-btn-width: 357px;
    --kv-inner-btn-height: 56px;
    --kv-inner-btn-font-size: 20px;
    --kv-title-margin: 0;

    --banner-section-background-color: #fff;
    --banner-margin-bottom: 138px;
    --banner-inner-padding: 138px 0;
    --banner-card-margin: 100px auto;
    --banner-card-gap: 55px;
    --banner-inner-title: 32px;
    --banner-desc-font-size: 24px;
    --banner-card-info-width: unset;

    --bottom-banner-padding: 255px 0 172.5px;
    --bottom-banner-font-size: 40px;

    --footer-padding: 32px 104px 108px;
    --footer-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --footer-rows: unset;
    --footer-copyright-column: 2 / 4;
    --footer-copyright-row: 1;
    --footer-support-content-column: 4 / 6;
    --footer-support-content-text-align: right;
    --footer-faq-column: 6;
    --footer-faq-text-align: center;
    --footer-icons-column: 9;
  }

  .banner-section .card {
    width: 988px;
    margin-bottom: 138px;
  }
  .banner-section .card .title {
    width: 235px;
    line-height: 1.3;
    word-break: keep-all;
  }
  .banner-section .card.search-item .title {
    margin-left: auto;
  }
  .banner-section .card.search-item .desc {
    width: 289px;
    margin-left: auto;
  }
}
