.container {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--cool-gray-200);
}
.description_container {
  color: var(--secondary-800);
}
.line {
  border-right: 1px solid var(--cool-gray-200);
}

.img {
 width: 344px;
 height: 343px; 
 border-radius: 12px;
 object-fit: cover;
 background-color: var(--secondary-200);
}

.header {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-bottom: 1px solid var(--cool-gray-200);
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  font-weight: 600;
  line-height: 26px;
}

.price {
  font-size: var(--font-size-lg);
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}

.description {
  margin: 16px 0 24px 0;
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.description_title {
  font-size: var(--font-size-xxs);
  font-weight: 600;
}

.tags{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tags_title {
  font-size: var(--font-size-xxs);
  font-weight: 600;
}
.profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.like,
.liked {
  display: flex;
  align-items: center;
  width: 79px;
  justify-content: center;
  border-radius: 35px;
  border: 1px solid var(--secondary-200); 
  gap: 10px;
  font-size: var(--font-size-xs);
  color: var(--cool-gray-500);
  margin-left: 24px;
  transition: background-color 0.3s, border 0.3s;
}
.liked {
  border-color: var(--primary-100);
  color: var(--primary-100);
}
.like:hover,
.liked:hover {
  border-color: var(--primary-100);
  color: var(--primary-100);
}

.like svg,
.liked svg {
  width: 24px;
  height: 24px;
}
/* Tablet */
@media (min-width: 768px) {
  .container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.img {
  width: 340px;
  height: 340px;
}
.description_container {
 flex: 1; 
}
.title {
  font-size: var(--font-size-md);
}
.price {
  font-size: var(--font-size-lg2);
  line-height: 42px;
  letter-spacing: 0%;
}
}

/* Desktop */
@media (min-width: 1200px) {
  .container {
    gap: 24px;
  }
  .img {
    width: 486px;
    height: 486px;
  }
  .title {
    font-size: var(--font-size-lg);
  }
  .price {
    font-size: var(--font-size-xl);
  }
  .description_title {
    font-size: var(--font-size-xs);
  }
  .tags_title {
    font-size: var(--font-size-xs);
  }
}
