
.round {
  padding: 12px 64px;
  gap: 8px;
  border-radius: 40px;

}
.more {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid var(--secondary-200);
  color: var(--secondary-400);
}
.more:hover {
  background-color: inherit;
}


.cancel {
  background-color: inherit;
  color: var(--cool-gray-500);
}
.cancel:hover {
  background-color: inherit;
  color: var(--cool-gray-500);
}