.description {
  display: flex;
  flex-direction: column;
  margin: 16px 0 16px 0;
  gap: 16px;
}

input::placeholder {
  color: var(--secondary-400);
}

textarea::placeholder {
  color: var(--secondary-400);
}