.input {
  display: flex;
  flex-direction: column;
  margin: 16px 0 16px 0;
  gap: 16px;
}

.textarea {
  display: flex;
  background-color: var(--cool-gray-100);
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: var(--font-size-xs);
  font-weight: 400;
  color: var(--secondary-800);
  height: 282px;
  resize: none;
  outline: none;
}

.inputField {
  display: flex;
  background-color: var(--cool-gray-100);
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: var(--font-size-xs);
  font-weight: 400;
  color: var(--secondary-800);
}