* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: bottom;
  box-sizing: border-box;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Black colors */
  --black-100: #02000e;
  --black-200: #181d26;

  /* Gray colors */
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;

  /* White colors */
  --white-100: #8c92ab;
  --white-200: #f7f7f8;

  /* Error color */
  --error-100: #ff3b3b;
  --error-200: #ff2626;

  /* Blue color */
  --Blue-100: #3692ff;
  --Blue-200: #1967d6;
  --Blue-300: #1251aa;
}
