.page {
	font-family: pretendard;
}

.section {
	display: flex;
	flex-direction: var(--section-flex-direction);
	gap: 24px;
	padding:24px 0 40px;
	border-bottom: 1px solid var(--color-gray300);
	width: 100%;
	align-items: start;
}

.product-image {
	aspect-ratio: 1/1;
	width: var(--product-image-width);
	border-radius: 28.59px;
}

.context-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: var(--context-container-width);
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:start;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-gray300);
	margin-bottom: 24px;
}

.title-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.title {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	color: var(--color-gray800);
}

.price {
	font-weight: 600;
	font-size: 40px;
	line-height: 100%;
	color: var(--color-gray800);
}

.kebab-button {
	aspect-ratio: 1/1;
	width: 24px;
}

.description-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: var(--description-margin-bottom);
}

.subtitle-container {
	display: flex;
	flex-direction: column;
	gap: var(--subtitle-gap);
}

.subtitle {
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
}

.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.tag-container {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.tag {
	border-radius: 26px;
	padding: 5px 16px;
	background-color: var(--color-gray200);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	cursor: pointer;
}

.tag:hover {
	background-color: var(--color-gray300);
}

.metadata-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.profile-image {
	aspect-ratio: 1/1;
	width: 40px;
}

.metadata-context-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.nickname {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-gray600);
}

.updatedAt {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-gray400);
}

.vertical-line {
	height: 34px;
	border-right: 1px solid var(--color-gray300);
}

.favorite-container{
	display: flex;
	flex-direction: row;
	gap:4px;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--color-gray300);
	border-radius: 35px;
	padding: 4px 12px;
	margin-left: 8px;
	cursor: pointer;
}

.favorite-container:hover {
	background-color: var(--color-gray300);
}

.favorite-image {
	aspect-ratio: 1/1;
	width: 32px;
}

.favorite-count {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: var(--color-gray500);
}

:root {
	--product-image-width: 100%;
	--section-flex-direction: column;
	--subtitle-gap: 8px;
	--description-margin-bottom: 40px;
	--context-container-width: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
		--product-image-width: 340px;
		--section-flex-direction: row;
		--subtitle-gap: 8px;
		--description-margin-bottom: 40px;
		--context-container-width: auto;
	}
}
/* PC */
@media (min-width: 1200px) {
  :root {
		--product-image-width: 486px;
		--section-flex-direction: row;
		--subtitle-gap: 16px;
		--description-margin-bottom: 62px;
		--context-container-width: auto;
	}
}