.signup {
  display: flex;
  justify-content: center;
}

.signup__container {
  margin: var(--container-top-margin) 1rem 0;
  max-width: var(--auth-container-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.signup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-md);
  width: 100%;
}

.signup__login {
  font-size: 14px;
  color: var(--color-neutral-800);
  text-align: center;
  font-weight: 500;
}

.signup__login-link {
  color: var(--color-primary-100);
  text-decoration: underline;
}

@media (width <= 767px) {
  .signup__container {
    margin-top: var(--container-top-margin-sm);
    max-width: var(--auth-container-max-width-sm);
  }
}
