.inquiryCommentEditBox {
    width: 100%;
}

.inquiryCommentFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-button);
    line-height: var(--line-height-comfortable);
}

.profileGroup {
    display: flex;
    gap: 8px;
}


.inquiryWriter {
    color: var(--color-gray-600);
}

.inquiryUpdatedAt {
    color: var(--color-gray-400);
}

.editActions {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.cancelButton {
    border: none;
    background-color: var(--color-white);
    color: var(--color-gray-500);
    border-radius: 8px;
    padding: 12px 23px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-button);
    line-height: var(--line-height-relaxed);
    cursor: pointer;
}

.editButton {
    border: none;
    background-color: var(--color-blue-200);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 23px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-button);
    line-height: var(--line-height-relaxed);
    cursor: pointer;
}

.editTextarea {
    width: 100%;
    padding: 16px;
    border: none;
    background-color: var(--color-gray-100);
    color: var(--color-gray-800);
    font-size: var(--font-size-sm);
    border-radius: 12px;
    resize: none;
    line-height: 1.5;
    min-height: 100px;
}