.productAsk {
  --ask-page-mb: 40px;
  --ask-form-mb: 40px;

  margin-top: 24px;
  margin-bottom: var(--ask-page-mb);
}

.productAsk form {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--ask-form-mb);
}

.productAsk label {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 16px;
}

.productAsk textarea {
  margin-top: 16px;
  width: 100%;
  resize: none;
  border: none;
  border-radius: 12px;
  height: 129px;
  padding: 16px 24px;
  font-family: inherit;
  color: var(--secondary-gray400);
  background-color: var(--cool-gray100);
  font-size: 14px;
  line-height: 24px;
}

.productAsk textarea::placeholder {
  color: var(--secondary-gray400);
}

.productAsk button {
  padding: 8px 23px;
  border-radius: 8px;
  height: 42px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--cool-gray100);
  background-color: var(--cool-gray400);
  margin-left: auto;
}

.productAsk ul li {
  border-bottom: 1px solid var(--cool-gray200);
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .productAsk {
    --ask-page-mb: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .productAsk {
    --ask-page-mb: 64px;
    --ask-form-mb: 24px;
  }
}
