.metadata-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}

.nickname {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-gray600);
}

.updatedAt {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--color-gray400);
}

.vertical-line-box {
	flex-grow: 1;
	height: 34px;
	border-right: 1px solid var(--color-gray300);
}