/* footer */
.footer {
  --footer-padding: 32px 32px 30px;
  --footer-flex-basis: 181.11px;

  background-color: var(--secondary-gray900);
  height: 160px;
  padding: var(--footer-padding);
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: var(--footer-text);
}

.container > div {
  display: flex;
  align-items: center;
  flex-basis: var(--footer-flex-basis);
  gap: 30px;
}

.container > div a {
  display: inline-block;
  color: inherit;
}

.snsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 116px;
}

.snsList li img {
  width: 20px;
  height: 20px;
  gap: 12px;
}

.container span {
  position: absolute;
  width: 112px;
  bottom: 30px;
}

@media screen and (min-width: 768px) {
  :root {
    --footer-padding: 32px 104px 108px;
  }

  .container span {
    position: relative;
    bottom: 0;
  }
}

/* PC */
@media screen and (min-width: 1200px) {
  :root {
    --footer-padding: 32px 0;
    --footer-flex-basis: 159px;
  }

  /* footer */
  .container {
    color: var(--secondary-gray400);
  }

  .container > div a {
    color: var(--secondary-gray200);
  }
}
