.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.img-all {
    width: var(--product-img-width-all);
    height: var(--product-img-height-all);
}

.img-best {
    width: var(--product-img-width-best);
    height: var(--product-img-height-best);
}

.textContainer-all {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
    max-width: var(--product-img-width-all);
}

.textContainer-best {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
    max-width: var(--product-img-width-best);
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.price {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.favorite {
    display: flex;
    gap: 4px;
}