.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.goToLogin {
  width: 128px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0;
  border: 1px solid #3692ff;
  background-color: #3692ff;
  border-radius: 8px;
  color: #f9fafb;
  padding: 0.7rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .header {
    width: 100%;
  }

  .headerWrapper {
    padding: 0 1.5rem;
  }
}

@media (max-width: 767px) {
  .headerWrapper {
    padding: 0 1rem;
  }

  .headerWrapper img {
    width: 103px;
  }
}
