@use "variables" as var;
@use "mixin" as mixin;

@mixin layoutInner {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fcfcfc;
}

// header
#header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;
  background-color: var.$white;
  z-index: 100;
  flex: 0 0 auto;

  .inner {
    display: flex;
    align-items: center;
    @include layoutInner;
  }

  @include mixin.tablet {
    padding: 0 24px;
  }

  @include mixin.mobile {
    padding: 0 16px;
  }

  .header {
    &__logo {
      a {
        display: block;

        @include mixin.mobile {
          width: 81px;
        }
      }
    }

    &__gnb {
      margin: 0 32px;

      @include mixin.tablet {
        margin: 0 20px;
      }

      @include mixin.mobile {
        margin: 0 8px;
      }

      ul {
        display: flex;
        align-items: center;

        @include mixin.mobile {
          gap: 8px;
        }

        li {
          a {
            display: block;
            padding: 20px 15px;
            font-size: 18px;
            font-weight: 700;
            color: var.$gray600;

            &.current {
              color: var.$primary-color;
            }

            @include mixin.mobile {
              padding: 20px 0;
            }
          }
        }
      }
    }

    &__member {
      margin-left: auto;
    }

    &__login-link {
      width: 128px;
    }
  }
}
// container
#container {
  flex: 1;
}

// footer
#footer {
  padding: 32px 104px 108px;
  font-weight: 300;
  background-color: var.$footer-bg;
  flex: 0 0 auto;

  @include mixin.mobile {
    padding: 32px 32px 30px;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include layoutInner;

    @include mixin.mobile {
      flex-wrap: wrap;
      gap: 60px 36px;
    }
  }

  .footer {
    &__copy {
      color: #9ca3af;

      @include mixin.mobile {
        width: 100%;
        order: 3;
      }
    }

    &__menu-list {
      display: flex;
      align-items: center;
      color: #e5e7eb;
      gap: 30px;

      a {
        display: block;
      }
    }

    &__sns-list {
      display: flex;
      align-items: center;
      gap: 12px;

      a {
        display: block;
      }
    }
  }
}
