@use "variables" as var;

@mixin tablet {
  @media (max-width: var.$tablet-size) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: var.$mobile-size) {
    @content;
  }
}

@mixin ellipsis($line: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
