@use "variables" as var;
@use "mixin" as mixin;

.auth {
  &-container {
    max-width: 640px;
    width: calc(100% - 30px);
    margin: 0 auto;

    @include mixin.mobile {
      max-width: 400px;
    }

    .logo {
      img {
        margin: 0 auto;

        @include mixin.mobile {
          width: 198px;
        }
      }
    }
  }

  &-form {
    margin-top: 40px;

    @include mixin.mobile {
      margin-top: 24px;
    }

    &__item {
      margin-bottom: 24px;

      @include mixin.mobile {
        font-size: 16px;
      }
    }

    &__label {
      display: block;
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 700;
      color: var.$gray800;

      @include mixin.mobile {
        font-size: 14px;
      }
    }

    &__input-box {
      position: relative;

      input {
        display: block;
        width: 100%;
        height: 56px;
        padding: 0 24px;
        font-size: 16px;
        font-weight: 400;
        color: var.$gray800;
        background: var.$gray100;
        border-radius: 12px;

        &.isError {
          border: 1px solid var.$error;
        }

        &.isPass {
          border: 1px solid var.$primary-color;
        }
      }

      &--pw {
        input {
          padding-right: 60px;
        }
      }
    }

    &__toggle-btn {
      position: absolute;
      top: 0;
      right: 12px;
      height: 100%;
      padding: 0 12px;
    }

    &__submit-btn {
      width: 100%;
    }

    &__error-msg {
      padding: 8px 16px 0;
      font-size: 14px;
      font-weight: 600;
      color: var.$error;
    }
  }

  &-sns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: 16px 23px;
    background-color: #e6f2ff;
    border-radius: 8px;

    &__label {
      display: block;
      font-size: 16px;
      font-weight: 500;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    gap: 5px;

    &__link {
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
      color: var.$primary-color;
    }
  }
}
