//main.tsx에서 불러옴

/* 글로벌 기본 스타일 */
* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  font-size: 16px;
}

body {
  margin: 0;
}

/* 공통 유틸리티 클래스  */

.pointer {
  cursor: pointer;
}
