:root {
  /* colors */
  --gray100: #f9fafb;
  --gray200: #f3f4f6;
  --gray300: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
  --blue: #3692ff;
  --primary-color: var(--blue);
  --primary-hover-color: #1967d6;
  --primary-click-color: #1251aa;
  --secondary-color: var(--gray800);
  --text-primary: var(--gray600);
  --background-light: #fcfcfc;
  --background-blue: #cfe5ff;
  --background-blue-light: #e6f2ff;
  --error-color: #f74747;
  --border-color: var(--gray200);

  /* button */
  --banner-btn-font-size: 18px;

  /* layout */
  --header-padding-lr: 16px;
  --container-width: 70rem;
  --container-width-small: 61.75rem;
  --page-content-width: 75rem;
  --sections-padding: 24px 16px 84px;
  --section-margin-bottom: 16px;
  --footer-padding: 32px;
  --list-header-gap: 12px;

  /* form */
  --form-padding-top: 24px;
  --form-label-margin-bottom: 8px;
  --form-contents-gap: 16px;
  --form-input-max-height: 282px;

  /* border-radius */
  --border-radius-xs: 8px;
  --border-radius-sm: 12px;
  --border-radius-md: 20px;
  --border-radius-lg: 40px;
  --thumb-border-radius: 16px;
  --tag-border-radius: 26px;

  /* dropdown */
  --dropdown-min-width: 48px;
}

@media (min-width: 600px) {
  :root {
    --dropdown-min-width: 130px;
  }
}

/* Tablet */
@media (min-width: 640px) {
  :root {
    --sections-padding: 24px 24px 56px;
    --section-margin-bottom: 24px;
  }

  .banner-hero .banner-info {
    padding: 84px 0 210px;
    max-width: none;
  }
}

@media (min-width: 768px) {
  :root {
    --header-padding-lr: 24px;
    --banner-btn-font-size: 20px;
  }
}

@media (min-width: 1200px) {
  :root {
    --sections-padding: 138px 24px;
    --section-margin-bottom: 1.5rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --header-padding-lr: 12.5rem;
  }
}

@supports (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
    --banner-font-size: clamp(32px, 5vw, 40px);
  }
}
