
.content {
  width: 344px;
  margin: 20px auto;
}
/* Tablet */
@media (min-width: 768px) {
  .content {
    width: 696px;
    margin: 20px auto;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .content {
    width: 1200px;
    margin: 20px auto;
  }
}
