.card-container {
  background-color: var(--color-gray050);
  display: flex;
  flex-direction: var(--card-container-flex-direction);
  justify-content: center;
  margin: 0 auto;
  gap: var(--card-container-gap);
  align-items: var(--card-container-align-items);
  width: var(--card-container-width);
}

.card-container.reverse {
  flex-direction: var(--card-container-flex-direction-reverse);
  text-align: right;
}

.card-context {
  padding: 0 24px 0 0;
}

.card-container.reverse .card-context {
  padding: 0 0 0 24px;
}

.card-image {
  width: var(--card-image-width);
}

.card-context-tag {
  color: var(--color-blue400);
  font-weight: 700;
  font-size: var(--card-tag-font-size);
  line-height: 26px;
  margin-bottom: 8px;
}

.card-context-title {
  color: var(--color-gray700);
  font-weight: 700;
  font-size: var(--card-title-font-size);
  line-height: 32px;
  margin-bottom: 16px;
  word-break: keep-all;
  width: auto;
}

.card-context-subtitle {
  color: var(--color-gray700);
  font-weight: 500;
  font-size: var(--card-subtitle-font-size);
  line-height: 26px;
  white-space: nowrap;
}

:root {
  --card-container-flex-direction: column;
  --card-container-flex-direction-reverse: column;
  --card-image-width: 344px;
  --card-container-align-items: stretch;
  --card-container-width: auto;
  --card-container-gap: 23.24px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
    --card-container-flex-direction: column;
    --card-container-flex-direction-reverse: column;
    --card-image-width: 696px;
    --card-container-align-items: stretch;
    --card-container-width: auto;
    --card-container-gap: 22.45px;
  }

  .card-context-tag {
    line-height: 26px;
    margin-bottom: 16px;
  }

  .card-context-title {
    line-height: 42px;
    margin-bottom: 24px;
    width: auto;
  }

  .card-context-subtitle {
    line-height: 26px;
  }
}
/* PC */
@media (min-width: 1200px) {
  :root {
    --card-container-flex-direction: row;
    --card-container-flex-direction-reverse: row-reverse;
    --card-image-width: 588px;
    --card-tag-margin-bottom: 12px;
    --card-context-title-margin-bottom: 24px;
    --card-container-align-items: center;
    --card-container-width: 988px;
    --card-container-gap: 64px;
  }

  .card-context-tag {
    line-height: 26px;
    margin-bottom: 12px;
  }

  .card-context-title {
    line-height: 140%;
    margin-bottom: 24px;
    width: 293px;
  }

  .card-context-subtitle {
    line-height: 32px;
  }
}
