.page-footer {
  background-color: #111322;
  height: 160px;
  font-family: 'Pretendard';
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px var(--footer-container-padding-x);
  max-width: 1520px;
  row-gap: 60px;
}

.footer-corporation {
  flex-basis: var(--footer-corporation-flex-basis);
  color: var(--color-gray050);
}

.footer-link {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-link a {
  text-decoration: none;
  color: var(--color-gray050);
}

.footer-social {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.footer-social-image {
  aspect-ratio: 1/1;
}

:root {
  --footer-corporation-flex-basis: 100%;
  --footer-container-padding-x: 32px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
    --footer-corporation-flex-basis: auto;
    --footer-container-padding-x: 104px;
  }
}

/* PC */
@media (min-width: 1200px) {
  :root {
    --footer-corporation-flex-basis: auto;
    --footer-container-padding-x: 200px;
  }
}
