.social-login {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: var(--spacing-xs) var(--spacing-md);
}

.social-login__label {
  color: var(--secondary-800);
  size: 1rem;
  font-weight: 500;
}

.social-login__icon-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
}

.social-login__icon-img {
  width: 100%;
  height: 100%;
}
