.member-box {
  max-width: 640px;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 230px 0;
}

.member-box .logo {
  margin-bottom: var(--space-lg);
}

.member-box .logo a {
  display: block;
  max-width: 396px;
  margin: 0 auto;
}

.form__input-box {
  margin-bottom: var(--space-sm);
}

.form__input-box .input-box__label {
  display: block;
  margin-bottom: var(--space-xs);
  font-size: 18px;
  font-weight: 700;
  color: var(--gray800);
}

/* 비밀번호 인풋박스박스 */
.form__input-box-pw .input-box__input {
  position: relative;
}

.form__input-box-pw .input-box__input .input-box__toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--space-sm);
}

.form__input-box-pw .input-box__input.pw_show .input-box__toggle {
  background: url("../images/common/btn_pw_toggle_show.svg") center no-repeat;
  background-size: contain;
}

.form__input-box-pw .input-box__input.pw_show .input-box__toggle img {
  opacity: 0;
}

.form__submitBtn {
  width: 100%;
  min-width: auto;
  font-size: 20px;
}

.member-box__sns-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-sm) 0;
  padding: var(--space-xs) 23px;
  background-color: #e6f2ff;
  border-radius: 8px;
}

.member-box__sns-box .sns-box__title {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray800);
}

.member-box__sns-box .sns-box__list {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.member-box__guide-text {
  text-align: center;
  font-size: 14px;
  color: var(--gray800);
}

.member-box__guide-text .guide-text__link {
  color: var(--primary-color);
  text-decoration: underline;
}

/* tablet */
@media screen and (max-width: 1199px) {
  .member-box__login {
    padding: 190px 0;
  }

  .member-box__signup {
    padding: 48px 0 231px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .member-box {
    max-width: 400px;
    width: calc(100% - 32px);
  }

  .member-box__login {
    padding: 80px 0;
  }

  .member-box__signup {
    padding: 24px 0 179px;
  }

  .member-box .logo {
    margin-bottom: var(--space-sm);
  }

  .member-box .logo a {
    width: 198px;
  }

  .form__input-box {
    margin-bottom: var(--space-xs);
  }

  .form__input-box .input-box__label {
    margin-bottom: var(--space-xxs);
    font-size: 14px;
  }

  .member-box__sns-box .sns-box__list li a {
    display: block;
    width: 42px;
  }
}
