/* ====== variable ====== */
:root {
  /* Colors */
  --primary-color: #3692ff;
  --primary-bg: #cfe5ff;
  --white: #fff;
  --dark-bg: #111827;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
  --error: #f74747;

  /* space */
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 40px;

  /* btn */
  --btn-default-bg: var(--primary-color);
  --btn-hover-bg: #1967d6;
  --btn-active-bg: #1251aa;
  --btn-disabled-bg: #9ca3af;
  --btn-white-color: var(--primary-color);
  --btn-white-bg: #f9fafb;

  /* header */
  --header-side-pd: 200px;

  /* footer */
  --footer-bg: var(--dark-bg);

  /* main */
  --main-banner-bg: var(--primary-bg);
  --service-cat-color: var(--primary-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
    /* header */
    --header-side-pd: 24px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    /* header */
    --header-side-pd: 16px;
  }
}
