.search {
  display: flex;
  align-items: center;
  order: 2;
}

.img {
  position: absolute;
  left: 40px;
}

.input {
  width: 220px;
  background-color: var(--secondary-100);
  border: none;
  border-radius: 12px;
  color: var(--secondary-800);
  font-size: var(--font-size-xs);
  font-weight: 400;
  padding: 13px 20px;
  padding-left: 50px;
  flex-grow: 1;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input {
    width: 192px;
  }
  .img {
    position: relative;
    left: 40px;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .input {
    width: 325px;
  }
  .img {
    position: relative;
  }
}
