@import "tailwindcss";

/* 나눔 스퀘어 폰트 설정 */
@font-face {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/NanumSquareR.woff") format("woff");
}
@font-face {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/NanumSquarEB.woff") format("woff");
}

@theme inline {
  /* colors */
  --color-slate900: #0f172a;
  --color-slate800: #1e293b;
  --color-slate500: #64748b;
  --color-slate400: #94a3b8;
  --color-slate300: #cbd5e1;
  --color-slate200: #e2e8f0;
  --color-slate100: #f1f5f9;

  --color-violet600: #7c3aed;
  --color-violet100: #ede9fe;

  --color-rose: #f43f5e;
  --color-lime: #bef264;
  --color-amber: #92400e;

  /* font-size */
  --text-base: 16px;
  --text-base--line-height: 18px;
  --text-lg: 18px;
  --text-lg--line-height: 20px;
  --text-xl: 20px;
  --text-xl--line-height: 23px;
}

@layer base {
  body {
    color: var(--color-slate800);
  }
}
