header {
  padding: 9.5px 0;
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.header__content {
  padding: 0 24px;
  max-width: 1520px;
  margin: 0 auto;
  /* color: #ffffff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .header__content {
    padding: 0 200px;
  }
}

.header__content__logo {
  width: 103px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .header__content__logo {
    width: 153px;
  }
}

.header__content__navigation__group {
  display: flex;
  align-items: center;
}

.header__content__navigation__group ul {
  display: flex;
}
