.logo-container {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: var(--logo-container-gap);
  align-items: center;
  justify-content: center;
  height: var(--logo-container-height);
  margin-bottom: var(--logo-container-margin-bottom);
}

.logo-image {
  aspect-ratio: 51.76 / 51.94;
  width: var(--logo-image-width);
}

.logo-text {
  font-family: '';
  font-family: 'ROKAFSans';
  font-weight: 700;
  font-size: var(--logo-text-font-size);
  line-height: 100%;
  color: var(--color-blue400);
}

:root {
  --logo-text-font-size: 33.17px;
  --logo-container-margin-bottom: 24px;
  --logo-image-width: 51.76px;
  --logo-container-height: 66px;
  --logo-container-gap: 11.12px;
}

/* Tablet, PC */
@media (min-width: 768px) {
  :root {
    --logo-text-font-size: 66.34px;
    --logo-container-margin-bottom: 40px;
    --logo-image-width: 103.53px;
    --logo-container-height: 132px;
    --logo-container-gap: 22.24px;
  }
}
