@use "../../styles/mixin" as mixin;

.password {
  &-box {
    position: relative;
  }

  &-input {
    @include mixin.defaultInput;
    padding-right: 60px;
  }

  &__toggle-btn {
    position: absolute;
    top: 0;
    right: 12px;
    height: 100%;
    padding: 0 12px;
  }
}
