.item-list-area {
  padding-bottom: 40px;
}

.item-list-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.item-list-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}

.item-list {
  width: 100%;
}

.item-list img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media (min-width: 768px) {
  .item-list-ul {
    gap: 40px 10px;
  }

  .item-list {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1200px) {
  .item-list-ul {
    gap: 40px 24px;
  }

  .item-list {
    width: calc(25% - 24px);
    flex-grow: 1;
  }
}
