.item-list-area {
  padding-bottom: 40px;
}

.item-list-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.item-list-ul {
  display: flex;
  gap: 40px 24px;
}

.item-list {
  width: 25%;
  max-width: 282px;
}

.item-list img {
  height: 282px;
}
