.dropdown-menu {
	display:flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 34px;
}

.dropdown-button {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	padding: 10px 41.5px;
	border: none;
	border-left: 1px solid var(--color-gray300);
	border-right: 1px solid var(--color-gray300);
	background-color: #ffffff;
	color: var(--color-gray500);
	cursor: pointer;
}


.dropdown-button:first-child {
	border-top: 1px solid var(--color-gray300);
	border-radius: 8px 8px 0 0;
}

.dropdown-button:last-child {
	border-bottom: 1px solid var(--color-gray300);
	border-radius: 0 0 8px 8px;
}

.dropdown-button:hover {
	background-color: var(--color-gray100);
}