.label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: var(--label-font-size);
  line-height: 24px;
  margin-bottom: var(--label-margin-bottom);
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 24px;
  background-color: var(--color-gray200);
  border-radius: 12px;
  margin-top: var(--input-container-margin-top);
  margin-bottom: 8px;
}

.input-container.valid {
  border: 1px solid var(--color-blue400);
}
.input-container.invalid {
  border: 1px solid var(--color-error);
}

.input {
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--color-gray200);
  border: none;
  outline: none;
  color: var(--color-gray800);
}

.input::placeholder {
  color: var(--color-gray400);
}

.password-icon {
  aspect-ratio: 1 / 1;
  width: 24px;
}

.input-hint {
  color: var(--color-error);
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

:root {
  --label-margin-bottom: 16px;
  --label-font-size: 14px;
  --input-container-margin-top: 8px;
}

/* Tablet, PC */
@media (min-width: 768px) {
  :root {
    --label-margin-bottom: 24px;
    --label-font-size: 18px;
    --input-container-margin-top: 16px;
  }
}
