.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 var(--header-padding-lr);
  z-index: 9;
  background: #fff;
  display: flex;
  border-bottom: 1px solid #dfdfdf;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.714rem 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 32px;
}

.logo-img {
  display: none;
  width: 40px;
  margin-right: 8px;
}

.header-avatar {
  margin-left: auto;
}

@media (min-width: 768px) {
  :root {
    --header-padding-lr: 24px;
  }
}

@media (min-width: 1200px) {
  :root {
    --header-padding-lr: 12.5rem;
  }
}
