.item-list-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 8px;
}

.item-list {
  width: calc(50% - 8px);
}

.item-list img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.item-list-area {
  padding-bottom: 40px;
}

.item-list-title {
  font-size: 20px;
  font-weight: 700;
}

.item-list-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.item-list-header .actions {
  display: flex;
  margin-left: auto;
  gap: 12px;
}

@media (min-width: 768px) {
  .item-list-ul {
    gap: 40px 16px;
  }
  .item-list {
    width: calc(33% - 16px);
  }
}

@media (min-width: 1200px) {
  .item-list-ul {
    gap: 40px 24px;
  }

  .item-list {
    width: 20%;
    max-width: 220px;
  }
}
