.item-list {
  display: flex;
  gap: 40px 24px;
}

.item-list-area {
  padding-bottom: 40px;
}

.item-list-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
}

.item-list.best li {
  width: 25%;
  max-width: 282px;
}

.item-list.all {
  flex-wrap: wrap;
}

.item-list.all li {
  width: 20%;
  max-width: 220px;
}
