.item-card.best {
  width: 25%;
}

.item-card.all {
  width: 20%;
}

.item-img {
  object-fit: cover;
  border-radius: var(--thumb-border-radius);
  margin-bottom: 16px;
}

.item-desc {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-price {
  margin-bottom: 8px;
}

.btn-like {
  display: flex;
  align-items: center;
  gap: 4px;
}
