.pagination-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-gray300);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border-radius: 40px;
  color: var(--color-gray500);
  background-color: var(--color-white);
  cursor: pointer;
}

.pagination-button:disabled {
  cursor: auto;
}

.pagination-button.selected {
  border: none;
  background-color: #2f80ed;
  color: var(--color-gray100);
}
