.content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading{
  margin: 20px ;
  display: flex;
  align-items: center;
  justify-content: center; 
}