.search-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-gray200);
  width: var(--search-input-container-width);
  padding: 0 9px;
  height: 42px;
  border-radius: 12px;
  flex-grow: var(--search-input-flex-grow);
}

.search-input-icon {
  aspect-ratio: 1/1;
}

.search-input {
  border: none;
  background-color: var(--color-gray200);
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  outline: none;
}

.search-input::placeholder {
  color: var(--color-gray400);
}