.containerRelative {
  position: relative;
}

.main {
  padding: 0 16px;
}

.loginSection {
  margin: 80px auto;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.logo img {
  width: 198px;
}

.form {
  width: 100%;
}

.form fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
}

.form label[for='toggle-visibility-pw'] {
  position: absolute;
  top: 52px;
  right: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../assets/icon/pw_hide.png) center center;
  background-size: cover;
  cursor: pointer;
}

.pwToggle:checked ~ label[for='toggle-visibility-pw'] {
  background-image: url(../../../assets/icon/pw_show.png);
}

.pwToggle {
  display: none;
}

.form label {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: var(--secondary-color);
}

.form input {
  margin-top: 8px;
  margin-bottom: 16px;
  border: none;
  border-radius: 12px;
  background-color: var(--secondary-gray100);
  height: 56px;
  padding: 12px 24px;
  width: 100%;
}

.form button {
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  color: var(--white-color);
  margin-bottom: 24px;
  font-size: 20px;
}

.inActivateBtn {
  background-color: var(--secondary-gray400);
}

.loginAlert {
  height: 74px;
  background-color: #e6f2ff;
  padding: 16px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 24px;
}

.loginAlert img {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.iconContainer a:last-child {
  margin-left: 16px;
}

.signUpGuide {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.signUpGuide a {
  text-decoration: underline;
  color: var(--primary-color);
}

/* validation err 관련 스타일 */
.activateBtn {
  background-color: var(--primary-color);
}

.activateBtn:hover {
  background-color: var(--primary-hover);
}

@media screen and (min-width: 768px) {
  .loginSection {
    max-width: 640px;
    margin-top: 190px;
    gap: 40px;
  }

  .logo img {
    width: 396px;
  }

  .form label[for='toggle-visibility-pw'] {
    top: 60px;
  }

  .form label {
    line-height: 26px;
    font-size: 18px;
  }

  .form input {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .loginSection {
    margin-top: 231px;
  }
}
