/* 공통 */
.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  height: 48px;
  padding: 12px 23px;
  background: #ccc;
  color: var(--gray-100);
}

/* 상태 기반 variant */
.primary {
  background: var(--Blue-100);
  color: white;
}
.primary:hover {
  background: var(--Blue-200);
}

.secondary {
  background: var(--gray-50);
  color: var(--Blue-100);
  border: 1px solid var(--Blue-100);
}

.inactive {
  background: var(--gray-400);
  cursor: default;
}

/* 크기 기반 variant */
.small {
  height: 42px;
}

.medium {
  padding: 12px 71px;
  width: 240px;
}

.large {
  padding: 16px 124px;
  width: 357px;
  height: 56px;
}

/* 모양 */
.round {
  border-radius: 9999px;
}
