.heading {
    display: flex;
    justify-content: space-between;
}

.controls {
    display: flex;
    gap:12px;
}

.title {
    font-weight: var(--products-list-font-weight);
    font-size: var(--products-list-font-size);
    line-height: var(--products-list-line-height);
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* Search Input */
.searchWrapper {
    position: relative;
    display: inline-block;
}

.searchIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
}

.searchInput {
    width: 325px;
    padding: 9px 20px 9px 37px;
    border: none;
    border-radius: 12px;
    background-color: #f5f5f5;
    font-size: 14px;
    color: #333;
    font-size: 16px;
}

.searchInput::placeholder {
    color: #aaa;
}

/* register btn */
.registerButton {
    border: none;
    border-radius: 8px;
    padding: 12px 23px;
    color: #F3F4F6;
    background-color: #3692FF;
}
