.container {
  display: flex;
  flex-direction: column;
}

.textInput {
  resize: none;
  height: 80px;
  font-size: var(--font-size-xxs);
  color: var(--cool-gray-800);
  background: var(--cool-gray-100);
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  flex: auto;
}

.submitContainer {
  display: flex;
  padding: 20px 0 30px;
  border-bottom: 1px solid var(--cool-gray-200);
}
.buttons {
  display: flex;
}