/* 모든 요소의 margin, padding 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #fff;
  color: #000;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}