/* Layout */
.container {
  margin: 0 auto;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  /*max-width: var(--container-width);*/
  padding: 0 16px;
  margin: 0 auto;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.banner {
  display: flex;
  padding: 66px 0 0;
  width: 100%;
  background-color: var(--background-secondary);
}

.banner-wrapper {
  display: flex;
  margin: 0 auto;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-section {
  width: 370px;
  margin: 0 auto;
}

.feature-card {
  display: flex;
  justify-content: space-around;
  width: 350px;
  height: 148px;
  margin: 46px auto;
  border-radius: var(--border-radius-lg);
  background-color: var(--background-primary);
}

.feature-content--reverse {
  text-align: right;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3px;
  padding-left: 6px;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  background-color: var(--background-dark);

}

.footer-bottom-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 3px 6px 10px;
}

.footer-list {
  display: flex;
  list-style: none;
  gap: 12px;

}

/* Typo */
h2 {
  font-weight: var(--font-weight-bold);
  font-size: 15px;
  line-height: var(--line-height-base);
  color: var(--text-primary);
}

h3 {
  font-weight: var(--font-weight-medium);
  font-size: 10px;
  line-height: 10px;
  color: var(--text-primary);
}

h4 {
  font-weight: var(--font-weight-bold);
  font-size: 8px;
  line-height: 8px;
  color: var(--primary-color);
}

.footer-list a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: var(--font-weight-regular);
  font-size: 8px;
  line-height: var(--line-height-tight);
}

.copyright {
  font-weight: var(--font-weight-regular);
  font-size: 8px;
  line-height: var(--line-height-tight);
  color: var(--text-secondary);
}

/* Component */
.panda-logo-md {
  width: 51px;
  height: auto;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  text-decoration: none;
  font-size: 8px;
  font-weight: var(--font-weight-semibold);
}

.login-button {

  padding: 4px 7px;
  border-radius: var(--border-radius-sm);
}

.search {
  padding: 5px 41px;
  border-radius: var(--border-radius-xl);
  font-size: 8px;
  font-weight: var(--font-weight-semibold);
  line-height: 11px;
}

.banner-image-top {
  width: 248px;
  height: auto;
}

.banner-image-bottom {
  width: 248px;
  height: auto;
}

.content-img {
  width: 193px;
  height: 100%;
}

.social-logo {
  width: 6px;
  height: auto;
}

.is-clickable {
  cursor: pointer;
}

/* Tablet */
@media (768px <=width <=1199px) {
  .gnb {
    padding: 0 80px;
  }

  .banner {
    padding: 120px 0 0;
  }

  .feature-section {
    width: 720px;
  }

  .feature-card {
    width: 620px;
    height: 300px;
    margin: 138px auto;
  }

  .feature-content {
    padding-right: 9px;
    padding-left: 13px;
  }

  .footer-bottom-contents {
    padding: 10px 20px 32px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--font-weight-medium);
  }

  h4 {
    font-size: 12px;
    line-height: 23px;
  }

  .footer-list a,
  .copyright,
  .button-primary {
    font-size: 11px;
  }

  .panda-logo-md {
    width: 120px;
  }

  .login-button {
    padding: 9px 18px;
  }

  .search {
    padding: 9px 70px;
    font-size: 12px;
    line-height: 32px;
  }

  .banner-image-top,
  .banner-image-bottom {
    width: 400px;
  }

  .content-img {
    width: 400px;
  }

  .social-logo {
    width: 16px;
  }
}

/* PC */
@media (min-width: 1200px) {
  .gnb {
    padding: 0 200px;
  }

  .banner {
    padding: 200px 0 0;
  }

  .feature-section {
    width: var(--container-width);
  }

  .feature-card {
    width: 988px;
    height: 444px;
    margin: 138px auto;
  }

  .feature-content {
    padding-right: 10px;
    padding-left: 20px;
  }

  .footer-bottom-contents {
    padding: 10px 20px 32px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: var(--font-weight-medium);
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .footer-list a,
  .copyright,
  .button-primary {
    font-size: 16px;
  }

  .panda-logo-md {
    width: 153px;
  }

  .login-button {
    padding: 12px 23px;
  }

  .search {
    padding: 16px 124px;
    font-size: 20px;
    line-height: 32px;
  }

  .banner-image-top,
  .banner-image-bottom {
    width: 746px;
  }

  .content-img {
    width: 579px;
  }

  .social-logo {
    width: 20px;
  }
}