/* 
  2025 04 11
  공통 전역 스타일
*/

:root {
  /* 여백 */
  --spacing-left-right-200: 0 200px;
  --spacing-left-right-24: 0 24px;
  --spacing-left-right-16: 0 18px;
  
  /* 색상 */
  --color-white: #fff;
  --color-Primary-100: #3692FF;
  --color-Primary-200: #1967D6;
  --color-Primary-300: #1251AA;
  --color-error-red: #F74747;
  --color-gray900: #111827;
  --color-gray800: #1F2937; 
  --color-gray700: #374151;
  --color-gray600: #4B5563;
  --color-gray500: #6B7280;
  --color-gray400: #9CA3AF;
  --color-gray300: #E5E7EB;
  --color-gray200: #F3F4F6;
  --color-gray100: #F9FAFB;
  --color-background-skyblue: #CFE5FF;
  --color-background-content: #FCFCFC;
  --color-background-white: #fff;
  
  /* 폰트 사이즈 */
  --font-size-xxs: 12px;
  --font-size-xs: 13px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-title-md: 32px;
  --font-size-title-lg: 40px;

  /* 굵기 */
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* 테두리 둥굴기 */
  --border-radius-lg: 40px;
  --border-radius-md: 35px;
  --border-radius-sm: 13px;
  --border-radius-xs: 8px;
}

body {
  font-family: 'Pretendard';
  background-color: var(--color-background-white);
  color: var(--color-gray700);
}

label {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-lg);
}

input {
  padding: 14px 24px;
  font-size: var(--font-size-md);
  background-color: var(--color-gray200);
  border-radius: var(--border-radius-sm);
}

input::placeholder {
  color: var(--color-gray400);
}

/* 버튼 btn */
.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.btn--large {
  padding: 12px 124px;
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-xl);
}

.btn--medium {
  padding: 11px 71px;
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-lg);
}

.btn--small {
  padding: 8px 23px;
  border-radius: var(--border-radius-xs);
  font-size: var(--font-size-md);
}

.btn--color1 {
  color: #ffffff;
  background-color: var(--color-Primary-100);
}

button:disabled {
  background-color: var(--color-gray400);
  cursor: auto;
}

/* 기본넓이 */
.default-width {
  max-width: 1920px;
  margin: 0 auto;
  transition: 0.5s;
}

/* flex 상하좌우 가운데 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.mt0{margin-top:0}
.mt10{margin-top:10px}
.mt20{margin-top:20px}

.mb0{margin-bottom:0}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb24{margin-bottom:24px}

.mr0{margin-right:0}
.mr10{margin-right:10px}
.mr20{margin-right:20px}

.ml0{margin-left:0}
.ml10{margin-left:10px}
.ml20{margin-left:20px}