.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  padding: 8px 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  color: var(--secondary-color);
  text-align: left;
  font-size: 1rem;
}
.dropdown-btn:hover {
  border-color: var(--primary-color);
}
