/* item card 공통*/
.card {
  display: flex;
  flex-direction: column;
  /* 카드 내 글과 글 사이 갭 */
  gap: 6px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.favorite {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--secondary-gray600);
}

.favorite > img[alt="좋아요 아이콘"] {
  width: 16px;
  height: 16px;
  margin-bottom: var(--init-zero);
  margin-right: 4px;
}
