.itemsFavorite {
  /* 모바일 변수 */
  --products-card-size: 343px;
}

/* 베스트상품 */
.itemsFavorite h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.favoriteList {
  margin-top: 16px;
  display: flex;
  overflow: hidden;
}

.card {
  width: var(--products-card-size);
  cursor: pointer;
}

.item img {
  height: var(--products-card-size);
  border-radius: 19.46px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .favoriteList {
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .itemsFavorite {
    /* 데스크탑 변수 */
    --products-card-size: 282px;
  }

  /* 베스트상품 */
  .favoriteList {
    gap: 24px;
  }

  .itemsFavorite ul li .card img {
    border-radius: 16px;
  }
}
