.addItem {
  /* 모바일 변수 */
  --container-width: 344px;
  --add-item-gap: 24px;
  --main-padding-top: 24px;
  --main-padding-bottom: 70px;

  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.addItemContainer {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--add-item-gap);
}

.header button {
  padding: 12px 23px;
  border-radius: 8px;
  background-color: var(--cool-gray400);
  color: #fff;
}

.header button.isActive {
  background-color: var(--primary-color);
}

.header button.isActive:hover {
  background-color: var(--primary-hover);
}

.header h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

/* 공통 */
.form label {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 16px;
  display: block;
}

.form input,
.form textarea {
  margin-bottom: var(--add-item-gap);
  background-color: var(--cool-gray100);
  height: 56px;
  padding: 16px 24px;
  border: none;
  color: var(--secondary-gray400);
  width: 100%;
  border-radius: 12px;
}

/* 테블릿 */
@media screen and (min-width: 768px) {
  .addItem {
    /* 태블릿 변수들 */
    --container-width: 696px;
    --main-padding-top: 16px;
    --main-padding-bottom: 78px;
  }
}

@media screen and (min-width: 1200px) {
  .addItem {
    /* 데스크탑 변수들 */
    --container-width: 1200px;
    --main-padding-top: 24px;
    --main-padding-bottom: 59px;
  }
}
