:root {
  --container-width: 343px;
  --container-margin: 0 auto;
  --container-title-margin-top: 8px;
  --container-paragraph-margin-top: 16px;
}

.homepage-wrapper {
  background-color: var(--article-background-color);
  color: var(--text-color);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  margin: var(--container-margin);
  max-width: var(--container-width);
  width: 100%;
}

@media screen and (min-width: 768px) {
  :root {
    --container-width: 696px;
    --container-title-margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --container-width: 1120px;
    --container-title-margin-top: 12px;
    --container-paragraph-margin-top: 24px;
  }
}
