body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

header{
    position: static;
}

.wrapper {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.auth-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    line-height: 26px;
    gap: 24px;
}

.input-field {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 12px;
    background-color: var(--bg-input);
    color: var(--text-muted);
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
}

.input-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.toggle-password img {
    display: block;
    width: 100%;
    height: auto;
  }

.input-wrapper:focus-within .toggle-password {
    display: block;
}

.btn {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 40px;
    background-color: var(--text-muted);
    color: var(--button-primary-text);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.btn-active {
    background-color: #3692FF !important;
    color: #ffffff;
}

.social-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-social-login);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 16px 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 16px;
}

.social-buttons {
    display: flex;
    gap: 16px;
}

.signup-link {
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    margin-top: 16px;
}

.signup-link p {
    line-height: 24px;
}

.error-message {
    color: #FF4D4F; /* 실무에서 자주 쓰는 빨간색 */
    font-size: 13px;
    margin-top: 4px;
    height: 18px;
}

.input-error {
    border: 1px solid #FF4D4F !important; /* 명확한 테두리 표시 */
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.signup-link a {
    line-height: 1;
    color: var(--brand-blue, #3692FF)
}
@media (min-width: 375px) and (max-width: 767px) {
    .wrapper {
        padding: 0 16px;
        /* 좌우 여백 16px */
    }
    
    .login-logo {
        width: 198px;
    }
    
    label {
        font-size: 14px;
    }
    
    input,
    .btn,
    .input-field,
    .social-login {
        width: 100%; /* 다시 명시!(auth.css에 이미 있음) */
        max-width: 400px;
    } 
}