body {
  font-family: 'Pretendard-Regular';
  margin: 0px;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}
@font-face {
  font-family: 'ROKAFSansMedium';
  src: url('../fonts/rokafsansmedium-normal.woff') format('woff');
}

:root {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --color-blue950: #111827;
  --color-blue600: #1251aa;
  --color-blue500: #1967d6;
  --color-blue400: #3692ff;
  --color-blue200: #cfe5ff;
  --color-blue100: #e6f2ff;

  --color-gray900: #111827;
  --color-gray800: #1f2937;
  --color-gray700: #374151;
  --color-gray600: #4b5563;
  --color-gray500: #6b7280;
  --color-gray400: #9ca3af;
  --color-gray300: #e5e7eb;
  --color-gray200: #f3f4f6;
  --color-gray100: #f9fafb;
  --color-gray050: #fcfcfc;

  --color-white: #ffffff;

  --color-err: #f74747;

  --border-radius-xs: 8px;
  --border-radius-sm: 12px;
  --border-radius-lg: 40px;
}

.btn {
  background-color: var(--color-blue400);
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  border: none;
  width: 100%;
}

.btn:hover {
  background-color: var(--color-blue500);
}

.btn:disabled {
  background-color: var(--color-gray400);
}
