/* common.css */

/* 글로벌 기본 스타일 */
* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  font-size: clamp(12px, 1.6vw, 16px);
}

body {
  margin: 0;
}

/* 공통 유틸리티 클래스  */

.pointer {
  cursor: pointer;
}

/* 버튼 스타일 클래스 */
.button {
  width: 100%;
  border-radius: var(--radius-button);
  background-color: var(--color-primary-100);
  color: var(--color-neutral-100);
  font-size: 1.25rem;
  padding: var(--spacing-xs) clamp(80px, 6.46vw, 124px);
}

/* form-field 클래스 */

.form-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-md);
}

.form-field__label {
  font-size: var(--font-label);
  font-weight: 700;
  color: var(--color-neutral-800);
}

.form-field__input {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-800);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-lg);
}

.form-field__group {
  position: relative;
  width: 100%;
}

.form-field__toggle-password {
  position: absolute;
  top: 50%;
  right: var(--spacing-md);
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background: url('/assets/icon/btn_visibility_off.png') no-repeat center;
  background-size: contain;
  color: transparent; /* 텍스트 없는 버튼 */
}

/* 소셜 로그인 클래스 */

.social-login {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-100);
  border-radius: 8px;
  padding: var(--spacing-xs) var(--spacing-md);
}

.social-login__label {
  color: var(--color-neutral-800);
  size: 1rem;
  font-weight: 500;
}

.social-login__icon-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
}

.social-login__icon-img {
  width: 100%;
  height: 100%;
}
