:root {
    /* footer padding */
    --footer-padding: 32px 32px 64px 32px;
    /* nav padding-left,right */
    --padding-horizontal: 16px;
    /* nav height */
    --nav-height: 70px;
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}

body {
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    background: var(--bg-primary);
    color: var(--bg-primary);
    padding: 0 var(--padding-horizontal);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--wrapper-width);
    margin: 0 auto;
}

.wrapper--narrow {
    max-width: var(--wrapper-narrow-width)
}

/* 버튼스타일 */
.btn-small-40 {
    padding: var(--button-padding-sm-40);
    background-color: var(--brand-blue);
    color: var(--button-primary-text);
    border: none;
    border-radius: var(--button-radius-sm-40);
    cursor: pointer;
}

.btn-large {
    background-color: var(--brand-blue);
    padding: var(--button-padding-lg);
    color: var(--color-gray-50);
    border: none;
    border-radius: var(--button-radius-lg);
    cursor: pointer;
    font-weight: var(--font-weight-button);
    font-size: var(--font-button-lg);
    flex-shrink: 0;
}

/* footer section */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--footer-padding);
    background-color: var(--bg-footer);
    color: var(--text-muted);
}

#footer--sns {
    display: flex;
    gap: 12px;
}

#footer--menu {
    display: flex;
    gap: 30px;
}

#footer--menu a {
    color: var(--color-gray-200);
}

@media (min-width: 768px) and (max-width: 1199px) {
    :root {
        --padding-horizontal: 24px;

        --footer-padding: 32px 104px 64px 104px;
    }


}

@media(min-width: 1200px) {
    :root {
        --padding-horizontal: 200px;

        --footer-padding: 32px 104px 32px 104px;
    }
}