.header-contents {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo a {
  color: var(--primary-color);
  font-size: 25.63px;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
}

.banner {
  background-color: var(--background-light);
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#hero {
  background-image: url("../images/hero-banner.png");
}

#bottom-banner {
  background-image: url("../images/bottom-banner.png");
}

#login-link-button {
  padding: 12px 23px;
  border-radius: 8px;
  font-size: var(--text-base);
  font-weight: 600;
}

.banner .pill-button {
  margin-top: 32px;
}

.feature-box {
  padding: 138px 0;
  gap: 64px;
  display: flex;
  align-items: center;
}

.feature-box.reverse {
  text-align: right;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  color: var(--primary-color);
  font-size: var(--text-lg);
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 12px;
}

.description {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  margin-top: 24px;
  word-break: keep-all;
}

@media (min-width: 375px) and (max-width: 767px) {
  .logo-img {
    display: none;
  }

  .banner .pill-button {
    display: block;
    margin: 24px auto;
  }

  .description .br-control {
    display: none;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 24px;
    padding: 40px 0;;
  }

  .feature-box img {
    width: 100%;
  }

  .feature-box.reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .feature-tag,
  .description {
    font-size: var(--text-base);
    line-height: 26px;
    margin: 0;
  }

  .description h1 {
    font-size: var(--text-2xl);
  }

  .banner {
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
  }

  .layout-container.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
  }
  
  .layout-container.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
  }
}

@media (min-width : 768px) and (max-width: 1199px) {
  .banner .pill-button {
    display: block;
    margin: 24px auto;
  }

  .br-control {
    display: none;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 24px;
    padding: 40px 0;;
  }

  .feature-box img {
    width: 100%;
  }
  
  .feature-box.reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .feature-tag,
  .description {
    font-size: var(--text-lg);
    line-height: 26px;
    margin: 0;
  }

  .description h1 {
    font-size: 32px;
  }
  
  .banner {
    background-position: center bottom;
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
  }
  
  .layout-container.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 450px;
  }
  
  .layout-container.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 450px;
  }
}
