body {
  font-family: 'Pretendard-Regular';
}

.page-header {
  background-color: var(--color-white);
  height: 70px;
  position: sticky;
  top: 0px;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--nav-padding-x);
  max-width: 1520px;
  height: 100%;
}

.nav-logo-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8.59px;
}

.nav-logo-image {
  width: 40px;
  display: var(--nav-log-display);
}

.nav-logo-text {
  font-family: 'ROKAFSansMedium';
  color: var(--color-blue400);
  font-weight: var(--font-weight-bold);
  font-size: 25.63px;
}

.nav-btn {
  max-width: 128px;
  border-radius: var(--border-radius-xs);
  padding: 11px 0;
}

.page-hero {
  background-color: var(--color-blue200);
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: var(--main-container-flex-direction);
  padding-top: var(--hero-container-padding-top);
  gap: var(--hero-container-gap);
}

#banner-bottom .hero-container {
  padding-top: var(--hero-container-btm-padding-top);
}

.hero-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  gap: var(--hero-context-gap);
  margin-bottom: 0;
}

.hero-title {
  font-size: var(--hero-title-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-gray700);
  margin: 0;
  word-break: keep-all;
  width: 300px;
  text-align: center;
  line-height: 140%;
}

.hero-img-container {
  width: 100%;
  max-width: 746px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#hero-img-top,
#hero-img-bottom {
  min-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hero-img-top {
  aspect-ratio: 746 / 340;
}
#hero-img-bottom {
  aspect-ratio: 746 / 397;
}

.hero-btn {
  padding: 12px 0;
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi-bold);
  max-width: 357px;
}

.page-main {
  background-color: var(--color-gray050);
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: var(--cards-background-color);
  padding-top: var(--cards-padding-top);
  padding-bottom: var(--cards-padding-bottom);
  margin-bottom: var(--cards-margin-bottom);
  gap: var(--cards-gap);
}

.card-container {
  width: var(--card-container-width);
  height: 100%;
  background-color: var(--color-gray050);
  border-radius: var(--border-radius-sm);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--card-container-gap);
}

.card-container {
  flex-direction: var(--main-container-flex-direction);
}

.card-container.reverse {
  flex-direction: var(--main-container-flex-direction-reverse);
}

.card-img {
  width: var(--card-img-width);
  aspect-ratio: 588 / 444;
  height: auto;
}

.card-context {
  padding: 0 24px 0 0;
  width: 344px;
}

.card-context.reverse {
  text-align: right;
  padding: 0 0 0 24px;
}

.card-tag {
  color: var(--color-blue400);
  font-size: var(--card-tag-font-size);
  font-weight: var(--font-weight-bold);
  margin: 0 0 12px;
}

.card-title {
  color: var(--color-gray700);
  font-size: var(--card-title-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  margin: 0 0 24px;
  word-break: keep-all;
}

.card-description {
  color: var(--color-gray700);
  font-size: var(--card-description-font-size);
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  margin: 0;
  white-space: nowrap;
}

.page-spacing {
  background-color: var(--color-gray050);
  height: 138px;
}

.page-footer {
  background-color: var(--color-blue950);
  height: 160px;
  padding: 32px 0 0;
}

.footer-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 0 var(--footer-padding-x);
  max-width: 1520px;
  margin: 0 auto;
  gap: 60px 0;
}

.footer-corp {
  color: var(--color-gray400);
  flex-basis: 100%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: var(--color-gray300);
  font-size: var(--font-size-base);
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.footer-icon {
  width: 18px;
}

/* 기본 변수 (Mobile 기준) */
:root {
  /* 로고 이미지 표시여부 변수 */
  --nav-log-display: none;

  /* 좌우 여백 변수 */
  --nav-padding-x: 16px;
  --footer-padding-x: 32px;

  /* hero, card 배치방향 변수 */
  --main-container-flex-direction: column;
  --main-container-flex-direction-reverse: column;

  /* 요소 간격조절 변수 */
  --cards-padding-top: 52px;
  --cards-padding-bottom: 83px;
  --cards-margin-bottom: 0px;
  --cards-gap: 40px;
  --card-container-gap: 24px;
  --hero-container-padding-top: 48px;
  --hero-container-btm-padding-top: 121px;
  --hero-container-gap: 132px;
  --hero-context-gap: 18px;

  /* 요소 크기조절 변수 */
  --card-container-width: 344px;
  --card-img-width: 344px;

  /* cards 배경색 설정 */
  --cards-background-color: var(--color-gray050);
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
    /* 로고 이미지 표시여부 변수 */
    --nav-log-display: inline;

    /* 좌우 여백 변수 */
    --nav-padding-x: 24px;
    --footer-padding-x: 104px;

    /* hero, card 배치방향 변수 */
    --main-container-flex-direction: column;
    --main-container-flex-direction-reverse: column;

    /* 요소 간격조절 변수 */
    --cards-padding-top: 24px;
    --cards-padding-bottom: 56px;
    --cards-margin-bottom: 0px;
    --cards-gap: 52px;
    --card-container-gap: 24px;
    --hero-container-padding-top: 84px;
    --hero-container-btm-padding-top: 201px;
    --hero-container-gap: 211px;
    --hero-context-gap: 24px;

    /* 요소 크기조절 변수 */
    --card-container-width: 696px;
    --card-img-width: 696px;

    /* cards 배경색 설정 */
    --cards-background-color: var(--color-gray050);
  }

  .hero-title {
    text-align: center;
    width: auto;
  }

  .card-context {
    width: 696px;
  }

  .hero-context {
    width: auto;
    align-items: center;
    margin-bottom: 0px;
  }

  .card-description {
    line-height: 32px;
  }
}

/* PC */
@media (min-width: 1200px) {
  :root {
    /* 로고 이미지 표시여부 변수 */
    --nav-log-display: inline;

    /* 좌우 여백 변수 */
    --nav-padding-x: 200px;
    --footer-padding-x: 200px;

    /* hero, card 배치방향 변수 */
    --main-container-flex-direction: row;
    --main-container-flex-direction-reverse: row-reverse;

    /* 요소 간격조절 변수 */
    --cards-padding-top: 138px;
    --cards-padding-bottom: 138px;
    --cards-margin-bottom: 138px;
    --cards-gap: 276px;
    --card-container-gap: 64px;
    --hero-container-padding-top: 200px;
    --hero-container-btm-padding-top: 200px;
    --hero-container-gap: 7px;
    --hero-context-gap: 32px;

    /* 요소 크기조절 변수 */
    --card-container-width: 988px;
    --card-img-width: 579px;

    /* cards 배경색 설정 */
    --cards-background-color: var(--color-white);
  }

  .hero-title {
    text-align: left;
    width: 300px;
  }

  .card-context {
    width: auto;
  }

  .card-title {
    width: 293px;
  }

  .hero-context {
    width: 357px;
    align-items: start;
    margin-bottom: 60px;
  }

  .card-description {
    line-height: 32px;
  }
}

/* 폰트 반응형 스타일 적용 */
@supports (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
    --hero-title-font-size: clamp(32px, 5.3763vw, 40px);
    --card-title-font-size: clamp(24px, 4.3011vw, 40px);
    --card-tag-font-size: clamp(16px, 2.4194vw, 18px);
    --card-description-font-size: clamp(16px, 2.4194vw, 24px);
  }
}
