:root {
    --color-surface-primary: #FFFFFF;
    --color-surface-accent: #CFE5FF;
    --color-social-login-bg: #E6F2FF;
    --brand-blue: #3692FF;
    --border-color: #DFDFDF;

    --primary-100: #1967D6;
    --primary-200: #1967D6;
    --primary-300: #1251AA;
    --primary-400: #9CA3AF;

    --cool-gray-400: #9CA3AF;

    --secondary-50: #F9FAFB;
    --secondary-100: #F3F4F6;
    --secondary-200: #E5E7EB;
    --secondary-400: #9CA3AF;
    --secondary-500: #6B7280;
    --secondary-600: #4B5563;
    --secondary-700: #374151;
    --secondary-800: #1F2937;
    --secondary-900: #111827;

    /* nav padding-left,right */
    --padding-horizontal: 16px;

    /* nav height */
    --nav-height: 70px;

    /* wrapper width */
    --wrapper-width: 375px;

    /* wrapper narrow width */
    --wrapper-narrow-width: 344px;

    /* banner height */
    --banner-height: 540px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    :root {
      --padding-horizontal: 24px;
      --wrapper-width: 991px;
      --wrapper-narrow-width: 961px;
      --banner-height: 771px;
    }
  }
  
  /* Desktop */
  @media (min-width: 1200px) {
    :root {
      --padding-horizontal: 200px;
      --wrapper-width: 1200px;
      --wrapper-narrow-width: 988px;
      --banner-height: 540px;
    }
  }