.banner {
  background-color: #cfe5ff;
}

.banner-container {
  display: flex;
  flex-direction: var(--banner-container-flex-direction);
  align-items: center;
  gap: var(--banner-container-gap);
  padding-top: var(--banner-container-padding-top);
  justify-content: center;
}

.banner-image {
  aspect-ratio: 746 / 340;
  max-width: 746px;
  min-width: 447px;
  width: 100%;
}

.banner-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
  padding-bottom: 60px;
}

.banner-title {
  color: var(--color-gray700);
  font-family: 'Pretendard';
  width: var(--banner-title-width);
  font-weight: 700;
  font-size: var(--banner-title-font-size);
  text-align: var(--banner-title-text-align);
  line-height: 140%;
  word-break: keep-all;
}

.banner-button {
  max-width: 357px;
  width: 100%;
  color: var(--color-gray050);
  line-height: 26px;
  padding: 11px 0;
  border-radius: 40px;
}

:root {
  --banner-container-gap: 72px;
  --banner-container-flex-direction: column;
  --banner-container-padding-top: 48px;
  --banner-title-width: 240px;
  --banner-title-text-align: center;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
    --banner-container-gap: 151px;
    --banner-container-flex-direction: column;
    --banner-container-padding-top: 84px;
    --banner-title-width: 530px;
    --banner-title-text-align: center;
  }
}
/* PC */
@media (min-width: 1200px) {
  :root {
    --banner-container-gap: 7px;
    --banner-container-flex-direction: row;
    --banner-container-padding-top: 200px;
    --banner-title-width: 357px;
    --banner-title-text-align: left;
  }
}
