.page-main {
  background-color: var(--color-gray050);
  font-family: 'Pretendard';
}
/* 폰트 반응형 스타일 적용 */
@supports (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
    --banner-title-font-size: clamp(32px, 5vw, 40px);
    --card-tag-font-size: clamp(16px, 2.3438vw, 18px);
    --card-title-font-size: clamp(24px, 3.3vw, 40px);
    --card-subtitle-font-size: clamp(16px, 2vw, 24px);
  }
}
