.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: var(--padding-mobile);
  border-bottom: 1px solid var(--border-bottom);
  background-color: var(--background-color);
}

.logo {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  display: flex;
  gap: 8px;
  color: var(--secondary-600);
  font-size: var(--font-size-xs);
  font-weight: 700;
}

.profile {
  display: flex;
  align-items: center;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    padding: var(--padding-tablet);
  }
  .links {
    gap: 30px;
  }
  .text {
    gap: 20px;
    font-size: var(--font-size-sm);
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .nav {
    padding: var(--padding-desktop);
  }
  .links {
    gap: 30px;
  }
  .text {
    gap: 20px;
    font-size: var(--font-size-sm);
  }
}
