/* 상단 네비게이션바 스타일 */
.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  padding: 12px 16px;
  border-bottom: 1px solid #dfdfdf;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.menu-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.menu-section a:link,
.menu-section a:visited {
  text-decoration: none;
  color: black;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  height: 40px;
  border-radius: 50%;
}

.nav-link {
  font-size: 0.8rem;
  font-weight: 500;
  color: #111827;
  text-decoration: none;
}

/* 태블릿 (min-width: 768px) */
@media (min-width: 768px) {
  .nav-link {
    font-size: 1.05rem;
    margin-left: 24px;
  }
}

/* 데스크탑 (min-width: 1024px) */
@media (min-width: 1024px) {
  .nav-link {
    font-size: 1.15rem;
    margin-left: 32px;
  }
}

/* 더 높은 선택자로 선택해서 기본 스타일보다 우위에 놓고자 .menu-section 추가 */
.menu-section .nav-link.highlight {
  color: #3692ff; /* 페이지가 중고마켓일시  */
  font-weight: bold;
}
